@(nextRaceMaybe: Option[Race])

@main() {
  <div class="content">
    @for(r <- nextRaceMaybe) {
      <div class="next-race">
        <a href="@routes.Races.show(r.id.stringify)">Next race starts in <span id="timer">?</span></a>
      </div>

      <script type="text/javascript">

      var startTime = @r.startTime.getMillis;
      var timerDiv = document.getElementById("timer");

      function updateTimer() {
        var c = Math.round((startTime - Date.now()) / 1000);
        var m = Math.floor(c / 60);
        var s = c % 60;
        timerDiv.innerText = "" + m + "' " + s + "\"";
      }

      setInterval(updateTimer, 1000);
      updateTimer();

      </script>
    }
  </div>

}

