@(byTrial: Seq[(TimeTrial, core.TimeTrialLeaderboard.Leaderboard)],
  overall: core.TimeTrialLeaderboard.Leaderboard,
  users: Seq[User],
  date: org.joda.time.LocalDate
)(implicit req: PlayerRequest[_], lang: Lang)

@import tools.DateFormats._

@main {
  @defining(byTrial.map(_._1)) { trials =>

    <div class="title-wrapper">
      <div class="container">
        <h1>@Messages("timeTrials.title")</h1>

        <div class="row">
          <div class="col-md-4 previous-period">
            <p>
            @defining(date.minusMonths(1)) { prevDate =>
              @if(! prevDate.isBefore(tools.Conf.earliestTimeTrial)) {
                <a href="@routes.TimeTrials.leaderboard(prevDate.toString(TimeTrial.periodFormat))" class="period">&larr; @formatMonthYear(prevDate)</a>
              }
            }
            </p>
          </div>
          <div class="col-md-4 align-center">
            <p><span class="period">@formatMonthYear(date)</span></p>
          </div>
          <div class="col-md-4 next-period">
            <p>
            @defining(date.plusMonths(1)) { nextDate =>
              @if(nextDate.toDateTimeAtStartOfDay.isBeforeNow) {
                <a href="@routes.TimeTrials.leaderboard(nextDate.toString(TimeTrial.periodFormat))" class="period">@formatMonthYear(nextDate) &rarr;</a>
              }
            }
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="light-wrapper">

      <div class="container">

        <h2>@Messages("timeTrials.leaderboard.general")</h2>

        <table class="table-leaderboard">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>@Messages("timeTrials.leaderboard.total")</th>
              @for(trial <- trials) {
                <th class="trial-name"><a href="@routes.TimeTrials.show(trial.idToStr)">@Messages("generators." + trial.slug + ".name")</a></th>
              }
            </tr>
          </thead>
          <tbody>
          @for((overallRank, playerId, overallPoints) <- overall) {
            <tr class="@if(playerId == req.player.id) { current-player }">
              <td class="rank">
                @{overallRank}.
              </td>
              <td class="user">
                @users.find(_.id == playerId).map { u =>
                  <a href="@routes.Users.show(u.handle)" class="player-avatar">
                    @views.html.users.avatar(u)
                    <span class="handle">@u.handle</span>
                  </a>
                }
              </td>
              <td class="overall-points">@overallPoints</td>
              @for(trial <- trials) {
                <td class="points">
                @byTrial.find(_._1.id == trial.id).flatMap(_._2.find(_._2 == playerId)) match {
                  case Some((rank, _, points)) => {
                    @points
                  }
                  case None => { - }
                }
                </td>
              }
            </tr>
          }
          </tbody>
        </table>

      </div>
    </div>

    <div class="dark-wrapper home-trials">
      <div class="container">

        <h2>@Messages("timeTrials.leaderboard.courses")</h2>

        @views.html.timeTrials.catalog(byTrial.map(_._1))

      </div>
    </div>

  }
}
