@(rankings: Seq[RunRanking],
  rankingUsers: Seq[User],
  player: Player,
  windowMaybe: Option[Int] = None
)(implicit lang: Lang, req: PlayerRequest[_])

@import views.Helpers
@import views.timeTrials.RankingExtract
@import tools.DateFormats._

@rankingLine(ranking: RunRanking, outOfWindow: Boolean = false) = {
  <li class="rank-@ranking.rank @if(ranking.playerId == player.id) { current-player } @if(outOfWindow) { out-of-window }">

    <span class="rank">@ranking.rank</span>

    @views.html.users.playerWithAvatar(ranking.findPlayer(rankingUsers))

    @if(ranking.isRecent) { <abbr title="@Messages("timeTrials.recent")">*</abbr> }

    <span class="time" title="@formatDateTimeInMonth(ranking.creationTime)">@if(ranking.rank == 1) {
      @Helpers.timer(ranking.finishTime)
    } else {
      @Helpers.timeDelta(ranking.finishTime - rankings.map(_.finishTime).min)
    }</span>

  </li>
}

<ul class="list-time-trial-rankings">
  @defining(RankingExtract.make(rankings, player, windowMaybe)) { extract =>

    @for(ranking <- extract.inWindow) {
      @rankingLine(ranking)
    }

    @extract.outOfWindow match {
      case Some(rankingOutOfWindow) => {
        @rankingLine(rankingOutOfWindow, outOfWindow = true)
      }
      case None => {
        @for(length <- windowMaybe.filter(_ > extract.inWindow.length)) {
          @for(_ <- 1.to(length - extract.inWindow.length)) {
            <li class="empty">&nbsp;</li>
          }
        }
      }
    }

  }
</ul>
