@(trial: TimeTrial, rankings: Seq[RunRanking], users: Seq[User], allPeriods: Seq[TimeTrial])(implicit lang: Lang, req: IdentifiedRequest[_])

@main {

  <div class="title-wrapper">
    <div class="container">
      <h1 class="uppercase">@Messages("timeTrials." + trial.slug + ".name")</h1>
      <p>
        &laquo; @Messages("timeTrials." + trial.slug + ".description") &raquo;
      </p>
    </div>
  </div>


  <div class="light-wrapper">
    <div class="container show-time-trial">

      <div class="row">
        <div class="col-md-offset-3 col-md-3">

          <div class="trial-picture" style="background-image: url(@routes.Assets.at(s"images/trials-${trial.slug}.png"))">
          </div>

          @if(TimeTrial.isOpen(trial)) {
            <a href="@routes.Application.playTimeTrial(trial.id.stringify)" target="_blank" class="btn btn-warning btn-block">@Messages("timeTrials.run")</a>
          } else {
            <button type="button" class="btn btn-default btn-disabled btn-block" disabled>@Messages("timeTrials.closed")</button>
          }

          <ul class="nav  nav-stacked">
          @for(t <- allPeriods) {
            <li @if(t.id == trial.id) { class="active" }>
              <a href="@routes.TimeTrials.show(t.idToStr)">@t.creationTime.toString("MMMM yyyy").capitalize</a>
            </li>
          }
          </ul>
        </div>

        <div class="col-md-offset-0 col-md-4">

          <h3>
            @trial.creationTime.toString("MMMM yyyy").capitalize
          </h3>

          @views.html.timeTrials.ranking(rankings, users, req.player)

        </div>
      </div>
    </div>

  </div>
}
