client/elm-stuff/
public/javascripts/
public/stylesheets/
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
client/.sass-cache
client/node_modules
client/index.html
.ensime
.ensime_cache
