game/build/
game/cache/
game/elm_dependencies/
game/elm-stuff/
public/javascripts/liveCenter.js
public/javascripts/main.js
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
client/.sass-cache
client/node_modules
.ensime
.ensime_cache
