@import 'colors';
@import 'mixins';
@import 'fonts';

#login,
#register {
  h1 {
    text-align: center;
  }

  .panel {
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
