@import 'colors';
@import 'mixins';
@import 'fonts';

#login,
#register {
  h1 {
    text-align: center;
    left: 0;
    right: 0;
    bottom: 42px;
  }

  .panel {
    width: 400px;
    margin-top: 132px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: grey;
  }
}
