@import 'colors';

.post, .article {
  .block-img {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    img {
      box-shadow: 0 2px 2px $lightGray;
      border: 2px solid white;
      border-radius: 2px;
    }
  }

  .legend {
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
  }
}

.post + .post {
  margin-top: 50px;
}

