$seaBlue: #23395C; //rgb(10, 105, 148);
$mainBlue: #5899E2;
$navBlue: little-desat-dark($mainBlue);
$whiteBlue: #B1C0D8;
$orange: #E0A349;
$lightOrange: lighten($orange, 12%);
$lighterOrange: lighten($orange, 25%);

$darkGray: #51585E;
$gray: #7b8087;
$mediumGray: lighten($gray, 20%);
$lightGray: #E6E6E6;
$smokeWhite: #f8f9fb;

$whiteRed: #f2dede;
$lightRed: #ebccd1;
$red: #a94442;


$lightSeaBlue: lighten($seaBlue, 6%);
$lighterSeaBlue: lighten($seaBlue, 12%);
$darkSeaBlue: darken($seaBlue, 3%);
$darkerSeaBlue: darken($seaBlue, 6%);
$sand: rgb(239, 210, 121);

$currentPlayerColor: $mainBlue;
