
@function desat-dark($color) {
  @return desaturate(darken($color, 15%), 30%);
}

@function little-desat-dark($color) {
  @return desaturate(darken($color, 10%), 7%);
}

$seaBlue: rgb(33, 148, 206);

$lightSeaBlue: lighten($seaBlue, 6%);
$lighterSeaBlue: lighten($seaBlue, 12%);
$whiteSeaBlue: lighten($seaBlue, 50%);

$darkSeaBlue: little-desat-dark($seaBlue);
$darkerSeaBlue: little-desat-dark($darkSeaBlue);

$sand: rgb(242, 243, 196);

$mainBlue: saturate(lighten($seaBlue, 15%), 10%);
$lightMainBlue: lighten($mainBlue, 20%);

$altBlue: #769FB6;

$purple: #673AB7;
$lightPurple: #9575CD;
$darkPurple: #5E35B1;
$intensePurple: #B388FF;
$whitePurple: lighten(#EDE7F6, 5%);

$orange: #E0A349;
$lightOrange: lighten($orange, 12%);
$lighterOrange: lighten($orange, 25%);
$darkOrange: darken($orange, 15%);
$darkerOrange: darken($orange, 25%);
$slackOrange: #D39B46;

$yellow: #efaa3d;
$darkYellow: #e7a22f;

$black: #333;
$darkCharcoal: #373737;
$charcoal: #4B4B4B;
$darkGrey: #51585E;
$grey: #888;
$mediumGrey: lighten($grey, 20%);
$lightGrey: #ddd;
$smokeWhite: #FAFAFA;
$whiteSmoke: $smokeWhite;

$shadow: rgba(0, 0, 0, 0.12);
$strongShadow: rgba(0, 0, 0, 0.37);
$dark: rgba(0, 0, 0, 0.5);
$veryDark: rgba(0, 0, 0, 0.7);


$light: rgba(255, 255, 255, 0.2);
$strongLight: rgba(255, 255, 255, 0.5);
$light-medium: rgba(255, 255, 255, 0.5);
$light-hard: rgba(255, 255, 255, 0.8);
$transparent: rgba(255, 255, 255, 0);

$red: #CC1426;
$lightRed: #FF5640;
$whiteRed: #f2dede;

$green: rgb(139, 195, 74);
$darkGreen: rgb(104, 159, 56);
$lightGreen: lighten($green, 30%);
/* $green: #42c49b; */
/* $darkGreen: darken($green, 10%); */

$white: white;

