@import 'mixins';
@import 'fonts';

/* .dialog-backdrop { */
/*   position: fixed; */
/*   top: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   left: 0; */
/*   z-index: 101; */
/*   background: rgba(0, 0, 0, 0.5); */
/*   opacity: 0; */
/*   display: none; */
/* } */

.dialog-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);

  .dialog-positioner {
    position: relative;
    width: auto;
    margin: 16px auto;
    z-index: 103; 
    width: 600px;
  }

  .dialog-sheet {
    @include shadow-strong;
    @include sheet;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    max-height: 80%;
  }

  .dialog-header {
    padding: 24px;
    padding-bottom: 16px;
    vertical-align: top;
    flex-shrink: 0;
    border-bottom: $border;

    .dialog-title {
      font-weight: bold;
      font-size: 21px;
      line-height: 24px;
      color: black;
      font-family: $thin;
    }

    .dialog-close {
      display: block;
      float: right;
      cursor: pointer;
      vertical-align: top;

      path {
        fill: $grey;
      }
    }
  }

  .dialog-body {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 16px;
    border-bottom: $border;

    .list-rankings {
      margin-bottom: 0;
    }
  }
  
}
