@import 'colors';
@import 'fonts';
@import 'mixins';

#list-drafts {

  .container {
    max-width: 750px;
  }

  .empty-notice {
    @include sheet;
    @include shadow-light;
    padding: 16px;
  }

  .new-track {
    height: 0;
    overflow-y: hidden;
    transition: height 0.2s ease-in-out;

    &.show {
      height: 124px;
    }

    .container {
      padding-bottom: 52px;
    }

    .form-new-track {
      text-align: center;
    }

    .form-group {
      padding-top: 0;
      margin-right: 16px;
    }

    .form-control {
      font-size: 16px;
      border-color: #ccc;

      &:focus {
        border-color: $mainBlue;
      }
    }
  }

  .tracks-list {
    @include sheet;
    @include shadow-light;
  }

  .tracks-item {
    $h: 72px;

    display: flex;
    cursor: pointer;
    height: $h;

    & > * {
      vertical-align: top;
    }

    .icon {
      $r: 42px;

      width: $h;
      padding: ($h - $r)/2;

      i {
        font-size: 24px;
        width: $r;
        line-height: $r;
        text-align: center;
        background-color: $lightGrey;
        color: white;
        border-radius: $r / 2;
        transition: bezier(background-color);
      }
    }

    .desc {
      flex: 1;
      padding: 16px 0;
      /* line-height: $h; */

      .name {
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;
        color: $darkGrey;
      }

      .date {
        line-height: 20px;
        
      }
    }

    .status {
      i {
        vertical-align: top;
        line-height: $h;
        color: $mediumGrey;
      }

      span {
        vertical-align: top;
        display: inline-block;
        line-height: $h;
        margin-left: 4px;
      }
    }

    .toggle {
      width: $h;
      text-align: center;

      i {
        line-height: $h;
      }
    }

    &:hover {
      .icon i {
        background-color: #ccc;
      }
    }

    &.selected {
      .name {
        /* color: $seaBlue; */
      }
    }
  }

  .tracks-item + .tracks-item,
  .tracks-edit + .tracks-item {
    > :not(.icon) {
      border-top: $border;
    }
  }

  .tracks-edit {
    margin: 0 16px 16px 74px;
    display: none;

    .actions {
      @include clearfix;

      &.right {
        text-align: right;
      }
    }

    &.selected {
      display: block;
    }

    .form-control {
      width: 140px;
    }
  }


}