@import 'colors';
@import 'fonts';

.list-drafts {
  ul.drafts {
    border: 1px solid $lightGrey;
    border-radius: 3px;
    background-color: $white;

    li {
      clear: both;
      border-bottom: 1px solid $lightGrey;

      .delete-draft {
        display: none;
        margin-right: 5px;
      }

      &.confirm-delete {
        .delete-draft {
          display: block;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    a {
      display: inline-block;
      padding: 10px 10px 8px 10px;
      font-size: 19px;
      font-weight: bold;
      font-family: $serif;
      transition: background .2s ease-in;
      
      &:hover {
        /* background-color: $lightSeaBlue; */
        /* color: $white; */
      }
    }

    button {
      margin-top: 8px;
      margin-right: 8px;
    }
  }

  .form-new-draft {
    margin-top: 30px;

    .form-control {
      width: 250px;
    }
  }
}