@import 'colors';
@import 'fonts';
@import 'mixins';

#editor {

  main {
    svg {
      user-select: none;
      -moz-user-select: none;

      cursor: cell;

      &.mode-m {
        cursor: move;
      }
    }

  }

  .toolbar {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;


    .surface-modes {
      padding: 8px 24px;

      a {
        display: inline-block;
        color: $mediumGrey; 
        padding: 4px 16px 4px 8px;
        margin-right: 4px;
        line-height: 24px;
        min-width: 64px;
        border-radius: 2px;
        border: 1px solid transparent;
        vertical-align: middle;

        &:last {
          border-right: none;
        }

        &.m span {
          border-radius: 0;
          background-color: $darkGrey;
        }

        span {
          display: inline-block;
          width: 16px;
          height: 16px;
          opacity: 0.8;
          vertical-align: middle;
          margin-right: 8px;
          border-radius: 24px;
        }

        &:hover,
        &.currrent:hover {
          color: $white;
          $bg: lighten($charcoal, 12%);
          background-color: $bg;
          border-color: lighten($bg, 8%);
          @include shadow-light;
        }

        &.current {
          $bg: darken($charcoal, 12%);
          color: $whiteSmoke;
          background-color: $bg;
          border-color: darken($bg, 8%);
          @include shadow-inset-light;

          span {
            opacity: 1;
          }
        }
      }
    }
  }

  .form-actions {
    .btn[disabled] {
      cursor: progress;
    }
  }

  aside {

    .add-gate {
      position: fixed;
      bottom: 24px;

    }

    .list-gates {
      margin-top: 16px;

      .gate {
        position: relative;
        cursor: pointer;
        padding: 0 24px;

        &.selected, &.selected:hover {
          background-color: #F3F3F3;

          .name {
            color: $seaBlue;
          }

          .remove {
            visibility: visible;
          }
        }

        &:hover {
          background-color: $whiteSmoke;
        }

        .gate-header {
          display: flex;
          margin: 0;
          padding-top: 8px;
        }

        .name, .orientation {
          vertical-align: bottom;
        }

        .name {
          flex: 1;
          margin-top: 2px;
          line-height: 30px;
          font-size: 16px;
          font-weight: bold;
          color: $darkGrey;
        }
        

        .orientations {
          padding: 4px;
        }

        .orientation {
          display: inline-block;
          cursor: pointer;
          height: 24px;
          width: 24px;
          text-align: center;
          /* border-radius: 12px; */
          overflow: hidden;
          color: $mediumGrey;

          i {
            font-size: 18px;
            line-height: 24px;
          }

          &.current, &.current:hover {
            background-color: #eee;
            color: $charcoal;
          }

          &:hover {
            background-color: $whiteSeaBlue;
            color: $mainBlue;
          }

          & + .orientation {
            margin-left: 4px;
          }
        }

        .gate-fields {
          clear: both;
          display: flex;
          padding: 16px 0 8px 0;

          .x, .y {
            margin-right: 16px;
          }

          .width {
          }
        }

        .remove {
          visibility: hidden;
          @include shadow-light;
          position: absolute;
          z-index: 3;
          bottom: -20px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 40px;
          border-radius: 20px;
          background-color: white;
          text-align: center;

          i {
            line-height: 40px;
          }

          &:hover {
            background-color: $whiteSeaBlue;
            color: $seaBlue;
          }
        }
      }
    }

    .wind-fields {
      padding: 24px;


    }

    .gusts-fields {
      padding: 24px;

    }
  }
}

