@import 'colors';

.editor {

  svg {
    background-color: $sand;
    user-select: none;
    -moz-user-select: none;

    cursor: cell;

    &.mode-m {
      cursor: move;
    }
  }

  .track-menu {
    margin-bottom: 10px;
  }

  .form-actions {
    margin-top: 0;
    margin-bottom: 20px;
  }

  aside {

    .aside-module {
      margin-bottom: 15px;
    }

    .surface-modes {
      margin-bottom: 10px;
      display: flex;

      a {
        flex: 1;
        display: inline-block;
        margin-right: 10px;
        line-height: 26px;
        width: 30px;
        text-align: center;
        border: 2px solid white;
        border-radius: 2px;
        font-weight: bold;
        color: $dark;
        box-shadow: inset 1px 1px 1px $shadow;
        text-shadow: 1px 1px 1px $shadow;
        text-transform: uppercase;

        &:last-child {
          margin-right: 0;
        }

        &.current {
          border-color: black;
          color: black;
          box-shadow: none;
        }
      }
    }

    .form-group {
      background-color: $smokeWhite;
      margin-bottom: 5px;
      border-radius: 2px;

      &:after {
        clear: both;
        display: table;
        content: '';
      }

    }

    h3 {
      margin-bottom: 10px;
    }

    .form-group + h3 {
      margin-top: 10px;
    }

    label {
      float: left;
      line-height: 23px;
      padding-left: 6px;
      margin: 0;
      text-transform: lowercase;
      color: $darkRock;
      font-size: 13px;
    }

    label + .form-control {
      float: right;
      width: 75px;
      padding: 2px 2px 2px 6px;
      height: 25px;
      font-size: 13px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;

    }

    .table-gust-defs {
      width: 100%;
      background-color: $smokeWhite;
      border-spacing: 1px;
      border-collapse: separate;
      border-radius: 2px;

      a {
        color: $rock;
      }

      th {
        font-size: 13px;
        padding: 2px 4px;
        font-weight: bold;
      }

      td {
        &.action {
          padding: 2px;
          text-align: center;
          font-weight: bold;
        }
      }

      .form-control {
        width: 100%;
        /* border: none; */
        padding: 2px 2px 2px 6px;
        height: 25px;
        font-size: 13px;
      }
    }
  }

}
