
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('/assets/fonts/Proxima Nova Regular.otf');
}

@font-face {
  font-family: "Bangers";
  src: url('/assets/fonts/Bangers.ttf');
}

@font-face {
  font-family: "Museo Slab";
  src: url('/assets/fonts/Museo Slab.otf');
}

@font-face {
  font-family: "Proxima Nova Thin";
  src: url('/assets/fonts/Proxima Nova Alt Thin.otf');
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url('/assets/fonts/Proxima Nova Alt Light.otf');
}


$thin: "Proxima Nova Thin";
$regular: "Proxima Nova Regular";
$mono: "Inconsolata", "mono";
$serif: "Museo Slab";

$navFont: $serif;
$headerFont: $serif;
$baseFont: $mono;
$logoFont: "Bangers";