
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('/assets/fonts/Proxima Nova Regular.otf');
}

@font-face {
  font-family: "Museo Slab";
  src: url('/assets/fonts/Museo Slab.otf');
}

@font-face {
  font-family: "Proxima Nova Thin";
  src: url('/assets/fonts/Proxima Nova Alt Thin.otf');
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url('/assets/fonts/Proxima Nova Alt Light.otf');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

$thin: "Proxima Nova Thin";
$regular: "Proxima Nova Regular";
$mono: "Inconsolata", "mono";
$serif: "Museo Slab";

$navFont: $serif;
$headerFont: $serif;
$baseFont: $regular;
$logoFont: "Bungee Hairline";
