@import 'colors';
@import 'fonts';
@import 'mixins';

#forum {

  .container {
    max-width: 750px;
  }

  .btn-new-topic {
    position: absolute;
    bottom: -28px;
    left: -80px;
  }

  .forum-topics-table {
    @include sheet;
    @include shadow-light;

    th, td {
      padding: 0 16px;
      vertical-align: middle;
      border: 0;

      &:first-child {
        padding-left: 24px;
      }

      &:last-child {
        padding-right: 24px;
      }
    }

    thead {
      th {
        color: $grey;
        line-height: 64px;
        border-bottom: $border;
      }

      .icon {
        width: 48px;
      }

      .title-with-author {
        padding-left: 0;
      }

      .count {
      }

      .activity {
      }
    }
      
    tbody {

      td {
        color: $darkGrey;
        cursor: pointer;
        line-height: 64px;
        transition: bezier(background-color);
      }

      .icon {
        border-bottom: 0;
        .avatar {
          border-radius: 24px;
        }
      }

      .title-with-author {
        line-height: 20px;
        width: 80%;
        padding-left: 0;
      }

      .title {
        font-weight: bold;
      }



      .original {}

      .count {
        text-align: center;
      }

      .activity {
        white-space: nowrap;
      }

      tr:last-child td {
        border-bottom: none;
      }

      tr:hover td {
        background-color: #F3F3F3;
      }

    } 
  }

  .forum-topic-posts {
    @include sheet;
    @include shadow-light;
  }

  .forum-post {
    border-bottom: $border;

    .post-meta {
      padding: 24px;
      padding-bottom: 0;
      color: $grey;

      .player-avatar {
        float: left;
        font-weight: bold;
      }

      .time {
        float: right;
        line-height: 32px;
      }

      @include clearfix;
    }

    .post-content {
      padding: 24px;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 16px;
    }
  }

  .toggle-new-post {
    margin: 0 auto;
    margin-top: -24px;

    &.active {
    }
  }


  /* .form-new-post, */
  /* .form-new-topic { */
  /*   /\* padding: 24px; *\/ */

  /*   textarea { */
  /*   } */

  /*   .preview { */
  /*     margin-bottom: 16px; */

  /*     .preview-legend { */
  /*       font-weight: bold; */
  /*       text-transform: italic; */
  /*       margin-bottom: 10px; */
  /*     } */

  /*   } */
  /* } */

  .form-sheet {
    @include sheet;
    @include shadow-light;
    margin-top: 24px;

    .form-header {
      padding: 16px 16px 16px 24px;
      border-bottom: $border;
      background-color: $whiteSmoke;
      @include clearfix;

      .cancel-new-post {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        line-height: 24px;
        height: 24px;
        float: right;

        &:hover {
          color: $darkGrey;
        }
      }

      h3 {
        display: inline-block;
        font-family: $regular;
        font-weight: bold;
        margin: 0;
        vertical-align: top;
        line-height: 24px;
      }

    }

    .form-group {
      clear: both;
      padding: 0;
      margin-bottom: 0;

      .form-control {
        padding: 16px 24px;
        border-bottom: $border;

        &:focus {
          border-color: $mainBlue;
        }
      }

      textarea {
        height: 200px;
      }
    }

    .form-actions {
      margin: 0;

      .btn-flat {
        width: 100%;
        display: block;
        line-height: 48px;
      }
    }
    
  }
}