@import 'colors';
@import 'fonts';
@import 'mixins';

.forum {
  .forum-topics-table {
    thead {
      th {
        border-bottom: 2px solid $lightSeaBlue;
      }

      .title {
        width: 50%;
      }

      .original {
        width: 25%;
      }

      .count {
      }

      .activity {
      }
    }
      
    tbody {
      td {
        border-bottom: 1px solid $lightSeaBlue;
      }

      .title {
        font-family: $serif;
        font-weight: bold;
        font-size: 18px;
        color: $white;
      }

      .original {
        color: $white;
      }

      .count {
        text-align: center;
      }
    } 
  }

  .forum-post {
    .post-meta {
      padding: 10px;
      background-color: $lightSeaBlue;
      border-bottom: 2px solid $lighterSeaBlue;

      .handle {
        float: left;
        color: $white;
        font-weight: bold;
      }

      .time {
        float: right;
      }

      @include clearfix;
    }

    .post-content {
      padding: 10px;
    }
    
  }
}