@import 'colors';
@import 'fonts';
@import 'mixins';

.forum {
  .forum-topics-table {

    thead {
      th {
        border-bottom: none;
        color: $grey;
      }

      .title {
        width: 50%;
      }

      .original {
        width: 25%;
      }

      .count {
      }

      .activity {
      }
    }
      
    tbody {
      border: 1px solid $lightGrey;
      background-color: $white;

      td {
        padding: 8px;
        border-bottom: 1px solid $lightGrey;
        color: $grey;
      }

      .title {
        padding-left: 12px;
        font-family: $serif;
        font-weight: bold;

        a {}
      }

      .original {}

      .count {
        text-align: center;
      }

      tr:last-child td {
        border-bottom: 1px solid $lightGrey;
      }

      tr:hover td {
        background-color: $white;
      }

    } 
  }

  .forum-post {
    margin-bottom: 10px;
    background-color: $white;
    border: 1px solid $lightGrey;

    .post-meta {
      margin: 10px;
      padding-bottom: 5px;
      /* background-color: $lightGrey; */
      border-bottom: 1px solid $lightGrey;
      color: $grey;

      .handle {
        float: left;
        font-weight: bold;
      }

      .time {
        float: right;
      }

      @include clearfix;
    }

    .post-content {
      padding: 10px;
    }
  }

  .toggle-new-post {

    &.active {
    }
  }

  .form-new-post,
  .form-new-topic {
    margin: 20px 0;

    textarea {
      height: 200px;
    }

    .preview {
      margin-bottom: 10px;
      padding: 10px 10px 0 10px;
      background-color: $white;
      border: 1px solid $lightGrey;

      .preview-legend {
        font-weight: bold;
        text-transform: italic;
        margin-bottom: 10px;
      }

    }
  }
}