@import 'colors';
@import 'fonts';
@import 'mixins';

.game {
  background-color: $sand;

  svg {
    display: block;
  }
}

aside {

  .draft-warning {
    font-size: 14px;
    padding: 10px;
    margin: 10px;
  }

  .module-players {
    flex: 0.5;

    h4 {
      font-size: 13px;
      margin: 0;
      padding: 5px;
      color: $lighterSeaBlue;
    }

    .list-players, .list-tallies {
      @include players-list;
    }
  }

  .module-rankings {
    flex: 0.5;

    .add-ghost, .remove-ghost {
      cursor: pointer;
    }

    .add-ghost {
      &:hover {
        opacity: 0.75;
      }
    }

    .remove-ghost {
      color: $orange;
      /* opacity: 0.5; */
      &:hover {
        /* opacity: 0.75; */
      }
    }
  }

  .module-ghosts {
    .empty {
      font-size: 12px;
      margin: 0 10px;
      line-height: 1.3em;
    }

    ul {
      font-family: $mono;
      font-weight: bold;
    }
  }

  .module-help {
    font-size: 12px;

    dl {
      padding: 5px;
      color: white;
    }

    dt {
      font-weight: bold;
      clear: both;
      float: left;
      opacity: 0.8;
    }

    dd {
      float: right;
    }
  }

}

.module-chat {
  position: absolute;

  right: 10px;
  bottom: 10px;
  opacity: 0.4;
  width: 220px;

  h3 {
    background-color: #333;
    color: $sand;
    margin: 0 0 5px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
  }

  $msgBg: black;

  .messages {
    background-color: $msgBg;
    overflow-y: hidden;
    font-size: 13px;
    border-top: 5px solid $msgBg;
    border-bottom: 5px solid $msgBg;
    padding: 0 10px;
    color: white;

    ul {
      padding: 0;
      margin: 0;
    }

    .message-handle {
      font-weight: bold;
      color: $lightGrey;

      &:after {
        content: ": ";
      }
    }
  }

  input[type="text"] {
    margin-top: 5px;
    background-color: #333;
    border: 2px solid black;
    color: white;
    font-size: 13px;

    &:focus {
      background-color: white;
      color: black;
    }
      
  }
}

