@import 'colors';
@import 'fonts';

.game {
  background-color: $sand;
  /* background-color: $seaBlue; */
  font-family: $mono;

  svg {
    display: block;
  }
}

aside {
  /* background-color: $blackSeaBlue; */

  .module-best-times {
    flex: 1;
  }

  .module-help {
    /* flex: 1; */
    font-size: 12px;

    dl {
      /* padding: 10px; */
    }

    dt {
      font-weight: bold;
      clear: both;
      float: left;
    }

    dd {
      float: right;
    }
  }

  .module-players {

    h4 {
      font-size: 13px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      font-family: $mono;
    }

    .list-players, .list-tallies {
      margin-bottom: 15px;

      li {

        .rank {
          &:after {
            content: ". ";
          }
        }

        .handle {
          color: white;
        }

        .lap {
          float: right;
          background-color: $darkSeaBlue;
          color: $whiteBlue;
          display: inline-block;
          width: 15px;
          text-align: center;
          line-height: 15px;
          font-size: 12px;
          margin-right: 5px;
          margin-top: 3px;
        }

        .time {
          float: right;
        }
      }
    }
  }

  .module-chat {
    flex: 3;

    display: flex;
    flex-direction: column;

    .messages {
      overflow: scroll;
      flex: 1;
      font-size: 13px;
      position: relative;
      /* margin: 10px; */

      ul {
        position: absolute;
        bottom: 0;
      }

      .message-handle {
        font-weight: bold;
        color: $lightGray;
        &:after {
          content: ": ";
        }
      }
    }

    input[type="text"] {
      background-color: #222;
      border: 2px solid #666;
      color: white;
    }
  }

  .module-rankings {
    .list-rankings {
      /* background-color: $darkNavBlue; */
      margin-bottom: 15px;

      li {
        /* padding: 4px 6px; */

        .handle {
          color: white;
        }

        .position {
          &:after {
            content: ". ";
          }
        }

        .time {
          float: right;
        }
      }
    }
    
  }
}