@import 'colors';
@import 'fonts';
@import 'mixins';

#home {
  header {
    h1 {
      bottom: 64px;
    }
    .subtitle {
      position: absolute;
      bottom: 38px;
      left: 16px;
    }
  }
}

.active-players {
  .empty {
    font-size: 14px;
  }

  h3 {
    margin: 0;
  }

  .active-track-players {
    @include sheet;
    @include shadow-light;

    display: block;
    margin-bottom: 24px;
    padding: 8px 16px;
    cursor: pointer;
    color: $darkGrey;

    &:hover {
      @include shadow-medium;
    }
  }

  h4 {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $seaBlue;
  }

  .live-players {
    @include players-list;
    margin-bottom: 0;
    font-weight: bold;
    /* color: $white; */

    li:last-child {
      margin-bottom: 0;
    }
  }
}
