@import 'colors';
@import 'fonts';
@import 'mixins';


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $grey;
  font-family: $baseFont;
  font-size: 15px;
  line-height: 20px;

  background-color: $smokeWhite;
}

body > div {
  height: 100%;
}

.new-layout {
  position: relative;
  height: 100%;

  .hex-bg {
    position: absolute;
    background-color: $seaBlue;
    @include gradient-directional($seaBlue, $darkSeaBlue, -30deg);

    .tiles {
      opacity: 0.9;
    }
  }

  .fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    .header {
      margin-top: 20px;
    }

    .content {
      .container {
        margin-top: 10px;
        padding: 30px;
        background-color: $white;
        @include gradient-directional($smokeWhite, $white, -30deg);
        box-shadow: 0 5px 5px $shadow;
        border-radius: 8px;
      }
    }
  }
}
    
.layout {
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  /* @include gradient-directional($smokeWhite, #EEE, -30deg); */
}

main {
  & > .padded {
    padding: 40px;
  }
}

aside {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 15px 15px 15px;
  /* background-color: $seaBlue; */
  @include gradient-directional($darkSeaBlue, $seaBlue, -30deg);
  border-right: 5px solid $mainBlue;
  color: $white;

  .logo {
    text-align: center;

    a {
      img {
        width: 160px;
        height: auto;
      }
    }
  }

}