@import 'colors';
@import 'fonts';
@import 'mixins';


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $whiteSeaBlue;
  font-family: $baseFont;
  font-size: 18px;
  line-height: 20px;

  background-color: $seaBlue;
}

body > div {
  height: 100%;
}
    
.layout {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

main {
  /* flex: 1; */
  width: 800px;
  padding: 40px;
}

aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  @include linear-gradient($darkerSeaBlue, $darkSeaBlue);

  /* .logo { */
  /*   a { */
  /*     display: block; */
  /*     text-align: center; */
  /*     background-color: rgb(58,120,201); */
  /*     /\* border: 2px solid white; *\/ */

  /*     img { */
  /*       height: 50px; */
  /*       /\* max-height: 100%; *\/ */
  /*       width: auto; */
  /*     } */
  /*   } */
  /* } */

  .user-menu {
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;

    li {
    }

    a {
      display: block;
      color: $whiteSeaBlue;
      text-transform: uppercase;
      font-family: $thin;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 24px;
      font-weight: bold;
      padding: 5px 10px;

      &:hover {
        color: $white;
      }

      &:before {
        /* content: "# "; */
      }
    }
  }
}