@import 'colors';
@import 'fonts';
@import 'mixins';


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $whiteSmoke;
  font-family: $baseFont;
  font-size: 15px;
  line-height: 20px;

  background-color: $seaBlue;
}

body > div {
  height: 100%;
}

$toolbar: 52px;
$aside: 270px;


.logo {
  position: relative;
  height: 50px;
  width: 150px;

  > * {
    display: block;
    position: absolute;
  }

  svg {
    left: 0px;
  }

  span {
    left: 50px;
    margin-top: 20px;
    color: $darkGrey;
    font-family: "Luckiest Guy";
    font-size: 32px;

    &:focus {
      text-decoration: none;
    }
  }

  .hexagon {
    fill: $seaBlue;
    stroke: $seaBlue;
    stroke-width: 10px;
    stroke-linejoin: round;
  }

  .hull {
    fill: $white;
    fill-opacity: 1;
    stroke: $white;
    stroke-opacity: 1;
  }

  &:hover {}
}

.layout {
  height: 100%;
  width: 100%;
  position: relative;

  aside.menu {
    @include shadow-medium;
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -$aside;
    width: $aside;
    overflow-x: hidden;
    color: $grey;
    background-color: $charcoal;
    transition: bezier(left);
  }

  &.show-sidebar {
    aside.menu {
      left: 0;
    }
  }

  .toolbar {
    position: absolute;
    height: 52px;
    left: 0;
    right: 0;
    display: flex;
    z-index: 2;
    background-color: $charcoal;
    @include shadow-light;

    .logo {
      display: block;
      height: 52px;
      width: $aside;

      svg {
        left: 50px;
      }

      span {
        color: $whiteSmoke;
        left: 100px;
      }
    }

    .toolbar-left, .toolbar-right {
      flex: 1;
    }

    .toolbar-left {
      display: flex;
      flex-direction: row;
    }

    .toolbar-center {
      text-align: center;
      white-space: nowrap;
    }

    .toolbar-right {
      text-align: right;
    }
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: $toolbar;
  }

  aside.context + main {
    left: $aside;
  }
}

.layout-game {
  .toolbar {
    h2 {
      display: inline-block;
      margin: 0;
      line-height: 52px;
      padding: 0 16px;
      color: $lightGrey;
      font-family: $regular;
      font-size: 21px;
      @include ellipsis;
    }

    .exit {
      display: inline-block;
      vertical-align: top;
      color: $grey;
      width: 52px;
      text-align: center;
      transition: bezier(background-color), bezier(color);
      background-color: lighten($charcoal, 4%);

      i {
        line-height: 52px;
      }

      &:hover {
        background-color: lighten($charcoal, 8%);
        color: $lightGrey;
      }
    }
  }

  aside.context {
    position: absolute;
    top: $toolbar;
    bottom: 0;
    left: 0;
    width: $aside;
    background-color: $white;
  }

}


