@import 'colors';
@import 'fonts';
@import 'mixins';

aside.menu {
  .brand {
    background-color: $darkCharcoal;

    .hexagon {
      fill: $darkGrey;
      stroke: $darkGrey;
    }
  }

  .menu-item {
    a {
      display: block;
      padding: 10px 0 10px 18px;
      line-height: 24px;
      color: $mediumGrey;
      font-weight: bold;
      transition: bezier(color), bezier(background-color);

      i {
        vertical-align: top;
        font-size: 24px;
        margin-right: 16px;
        color: $grey;
        transition: bezier(color);
      }

      &:hover {
        background-color: lighten($charcoal, 4%);
      }

      &:active, &:visited, &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    &.current {
      a {
        background-color: lighten($charcoal, 8%);
        color: $smokeWhite;

        i {
          color: $smokeWhite;
        }
      }
    }
  }

  hr {
    border-top: $border;
    border-color: lighten($charcoal, 8%);
    margin: 16px 0;
  }

  p {
    margin: 16px;

    a {
      color: $mediumGrey;

      &:hover {
        color: $lightGrey;
        background-color: lighten($charcoal, 4%);
      }
    }
  }

}
