@import 'colors';
@import 'fonts';
@import 'mixins';

aside.menu {
  .logo {
    display: block;
    height: 52px;
    width: $aside;
    background-color: #373737;

    svg {
      left: 50px;
    }

    span {
      left: 100px;
      color: $whiteSmoke;
    }
  }

  .player {
    background-color: darken($charcoal, 4%);
    padding: 16px 8px 16px 14px;
    display: flex;

    .avatar {
      border-radius: 24px;
    }

    .handle {
      flex: 1;
      color: $white;
      font-weight: bold;
      margin-left: 12px;
      margin-right: 12px;
      vertical-align: top;
      line-height: 32px;
      @include ellipsis;
    }

    .logout {
      color: $grey;
      transition: bezier(color);

      i {
        line-height: 32px;
      }

      &:hover {
        color: $mediumGrey;
      }
    }

    .guest {
      .player {
        line-height: 54px;
        padding: 0 16px;
      }
    }
  }

  .menu-item {
    a {
      display: block;
      padding: 10px 0 10px 18px;
      line-height: 24px;
      color: $mediumGrey;
      font-weight: bold;
      transition: bezier(color), bezier(background-color);

      i {
        vertical-align: top;
        font-size: 24px;
        margin-right: 16px;
        color: $grey;
        transition: bezier(color);
      }

      &:hover {
        background-color: lighten($charcoal, 4%);
      }

      &:active, &:visited, &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    &.current {
      a {
        background-color: lighten($charcoal, 8%);
        color: $white;

        i {
          color: $white;
        }
      }
    }
  }

  hr {
    border-top: $border;
    border-color: lighten($charcoal, 8%);
    margin: 16px 0;
  }

  p {
    margin: 16px;

    a {
      color: $mediumGrey;

      &:hover {
        color: $lightGrey;
        background-color: lighten($charcoal, 4%);
      }
    }
  }

}
