@import 'colors';
@import 'fonts';
@import 'mixins';

aside.menu {
  color: $grey;
  background-color: $darkCharcoal;

  .brand {
    margin-bottom: 8px;
    background-color: darken($darkCharcoal, 4%);

    .hexagon {
      fill: $darkGrey;
      stroke: $darkGrey;
    }

    .icon-menu {
      stroke: $lightGrey;
    }

    &:hover {
      .icon-menu {
        stroke: $whiteSmoke;
      }
    }

    span {
      color: $whiteSmoke;
    }

  }

  .menu-block {
    margin: 16px 0;
  }

  .menu-item {
    a {
      display: block;
      padding: 10px 0 10px 18px;
      line-height: 24px;
      color: $mediumGrey;
      transition: bezier(color), bezier(background-color);

      i {
        vertical-align: top;
        font-size: 24px;
        margin-right: 16px;
        color: $grey;
        transition: bezier(color);
      }

      &:hover {
        background-color: $charcoal;
      }

      &:active, &:visited, &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    &.current {
      a {
        background-color: lighten($charcoal, 4%);
        color: $smokeWhite;

        i {
          color: $smokeWhite;
        }
      }
    }
  }

  hr {
    border-top: $border;
    border-color: $charcoal;
    margin: 16px 0;
  }

  p {
    margin: 16px;

    a {
      color: $mediumGrey;

      &:hover {
        color: $lightGrey;
        background-color: lighten($charcoal, 4%);
      }
    }
  }

}
