
@import 'colors';
@import 'mixins';
@import 'fonts';

aside {
  /* background-color: $mediumGray; */
  /* color: $darkRock; */
  /* border-right: 2px solid $smokeWhite; */

  /* .track-menu { */
  /*   margin-bottom: 20px; */

  /*   h2 { */
  /*     color: $darkerRock; */
  /*     margin: 0; */
  /*     float: left; */
  /*   } */

  /*   .btn { */
  /*     float: right; */
  /*     margin-left: 5px; */
  /*   } */
  /* } */

  .user-menu {
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 10px;
  }

  .logout {
    padding: 10px;
  }

  .user-menu a, .logout a {
    display: block;
    color: $whiteSeaBlue;
    text-transform: uppercase;
    font-family: $thin;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: bold;
    padding: 5px 10px;

    &:hover {
      color: $white;
      background-color: $darkSeaBlue;
    }
  }



  h2.track-name {
    margin: 0 10px;
    padding: 8px;
    color: $darkerSeaBlue;
    font-size: 18px;
    background-color: $whiteSeaBlue;
  }

  .aside-module {
    padding: 10px;

    .module-title {
      background-color: $darkSeaBlue;
      margin: 0 0 10px 0;
      padding: 0;

      h3 {
        font-family: $regular;
        color: $white;
        padding: 5px 10px;
        margin: 0;
        display: inline-block;
        text-transform: lowercase;
        font-size: 13px;
      }
    }

    ul {
      padding: 0 5px;
    }

  }

}
