
@import 'colors';
@import 'mixins';
@import 'fonts';

aside {

  .user-info {
    margin: 5px 15px;
    padding: 10px;
    font-size: 14px;
  }

  .user-menu {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0 15px 5px 15px;
    border-top: 2px solid $seaBlue;
  }

  .logout {
    border-top: 2px solid $seaBlue;
    margin: 0 15px 5px 15px;
    padding-top: 10px;
  }

  .user-menu a, .logout a {
    display: block;
    color: $whiteSeaBlue;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: normal;
    padding: 5px 10px;
    margin-bottom: 5px;

    &:hover {
      color: $white;
      background-color: $seaBlue;
    }
  }

  h2.track-name {
    margin: 0 10px;
    padding: 8px;
    color: $darkerSeaBlue;
    font-size: 18px;
    background-color: $whiteSeaBlue;
  }

  .aside-module {
    padding: 10px;

    .module-title {
      background-color: $darkSeaBlue;
      margin: 0 0 10px 0;
      padding: 0;

      h3 {
        font-family: $regular;
        color: $white;
        padding: 5px 10px;
        margin: 0;
        display: inline-block;
        text-transform: lowercase;
        font-size: 13px;
      }
    }

    ul {
      padding: 0 5px;
    }

  }

}
