@import 'colors';
@import 'fonts';
@import 'mixins';

.race-reports {
  .notice {
    text-align: center;
  }
}

.race-card {
  @include sheet;
  @include shadow-light;
  color: $grey;
  margin-bottom: 24px;

  &:hover {
    @include shadow-medium;
    cursor: pointer;
  }

  .race-card-header {
    padding: 12px 16px 8px 16px;
    @include gradient-directional(lighten($charcoal, 8%), lighten($charcoal, 16%), -30deg);

    .track-name {
      font-size: 16px;
      color: $whiteSmoke;
    }
  }

  .list-rankings {
    margin-bottom: 0;

    li {
      line-height: 36px;

      .rank {
        width: 36px;
      }

      .time {
        padding-right: 12px;
      }

      &.empty {
        height: 37px;
      }
    }
  }

  .race-card-footer {
    border-top: $border;
    @include clearfix;
    height: 36px;
    background-color: $whiteSmoke;

    .start-time {
      color: $grey;
      float: right;
      line-height: 36px;
      padding: 0 8px;
      font-family: $mono;
    }

    .see-more {
      float: left;
      line-height: 36px;
      width: 36px;
      font-family: $mono;
      font-weight: bold;
      text-align: center;
      background-color: #eee;
    }
  }
}
