@import 'colors';
@import 'fonts';
@import 'mixins';

.race-reports {
  .notice {
    text-align: center;
  }
}

.race-report-excerpt {
  @include sheet;
  @include shadow-light;

  color: $darkGrey;
  margin-bottom: 24px;

  &:hover {
    @include shadow-medium;
    cursor: pointer;
  }

  .meta {
    display: block;
    padding: 6px 10px;
    background-color: $lightGrey;
    color: $grey;
    box-shadow: inset 0px -1px 2px $shadow;
    font-family: $serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $lightGrey;
      box-shadow: inset 0px -1px 2px $strongShadow;
      color: $darkGrey;
    }
  }

  .track-name {
    font-weight: bold;

    &:before {
      content: " @ ";
      color: $mediumGrey;
    }
  }

  .start-time {
  }

  ul {
    @include players-list;
    height: 80px;
    margin-bottom: 0;
    padding: 10px;
    overflow-y: auto;
    @include linear-gradient($white, $whiteSmoke);
  }
}
