@import 'colors';
@import 'mixins';
@import 'fonts';

.logo {
  .hexagon {
    fill: $seaBlue;
    stroke: $seaBlue;
    stroke-width: 10px;
    stroke-linejoin: round;
  }

  .hull path {
    fill: $whiteSmoke;
    fill-opacity: 1;
    stroke: $whiteSmoke;
    stroke-opacity: 1;
  }

  span {
    margin-top: 20px;
    color: $darkGrey;
    font-family: "Luckiest Guy";
    font-size: 32px;

    &:focus {
      text-decoration: none;
    }
  }

  &:hover {
    a {
      color: $grey;
    }
  }
}

.header {
  .logo {
    float: left;
    height: 50px;
    overflow-y: hidden;

    > * {
      display: block;
      float: left;
    }

    svg {
    }

  }

  .user-menu {
    float: right;
    margin-top: 16px;
    padding: 0;
    list-style: none;
    /* color: $whiteSeaBlue; */
    font-family: $serif;
    text-align: right;

    li {
      margin-left: 10px;
      display: inline-block;
    }

    a {
      display: inline-block;
      /* color: $white; */
      /* text-shadow: 1px 1px 1px $shadow; */
    }
  }
}

.footer {
  margin-top: 10px;
  text-align: center;
  color: $white;
  font-family: $serif;

  a {
    color: $white;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 5px 10px;
    }
  }
}

aside {
  .form-actions {
    margin: 10px 0;
  }

  .aside-module {
    margin-top: 10px;

    .module-header {
      /* background-color: $darkSeaBlue; */
      margin: 0 0 10px 0;
      padding: 0;

      h3, a.module-title {
        /* font-family: $regular; */
        font-weight: bold;
        /* color: $white; */
        /* padding: 5px 10px; */
        margin: 0;
        display: block;
        /* text-transform: lowercase; */
        /* font-size: 13px; */
      }

      a.module-title {
        color: $white;

        &:hover {
          color: $white;
          background-color: $seaBlue;
        }
      }
    }

    ul {
      padding: 0 8px;
    }

  }

}
