@import 'colors';
@import 'mixins';
@import 'fonts';

.logo {
  .hexagon {
    fill: $seaBlue;
    stroke: $seaBlue;
    stroke-width: 10px;
    stroke-linejoin: round;
  }

  .hull path {
    fill: $whiteSmoke;
    fill-opacity: 1;
    stroke: $whiteSmoke;
    stroke-opacity: 1;
  }

  span {
    margin-top: 20px;
    color: $darkGrey;
    font-family: "Luckiest Guy";
    font-size: 32px;

    &:focus {
      text-decoration: none;
    }
  }

  &:hover {
    a {
      color: $grey;
    }
  }
}

.header {
  .logo {
    float: left;
    height: 50px;
    overflow-y: hidden;

    > * {
      display: block;
      float: left;
    }

    svg {
    }

  }

  .user-menu {
    float: right;
    margin-top: 16px;
    padding: 0;
    list-style: none;
    /* color: $whiteSeaBlue; */
    font-family: $serif;
    text-align: right;

    li {
      margin-left: 10px;
      display: inline-block;
    }

    a {
      display: inline-block;
      /* color: $white; */
      /* text-shadow: 1px 1px 1px $shadow; */
    }
  }
}

.footer {
  margin-top: 10px;
  text-align: center;
  color: $white;
  font-family: $serif;

  a {
    color: $white;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 5px 10px;
    }
  }
}

aside {
  .logo {
    
  }

  .user-info {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: $whiteSmoke;
  }

  h2 {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: $lightSeaBlue;
    color: $white;
    box-shadow: 1px 1px 1px $shadow;
    text-align: center;
    font-size: 18px;
  }

  hr {
    border-top: 2px solid $darkSeaBlue;
    margin: 10px 0;
  }

  .user-menu {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 30px 0 5px 0;
  }

  .logout {
    margin: 0 0 5px 0;
    padding-top: 10px;
  }

  .user-menu a, .logout a {
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: $whiteSmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $thin;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      color: $white;
      background-color: $shadow;
      box-shadow: 1px 1px 1px $shadow inset;
    }
  }

  .track-menu {
    margin: 0;
  }

  .form-actions {
    margin: 10px 0;
  }

  .aside-module {
    margin-top: 10px;

    .module-header {
      background-color: $darkSeaBlue;
      margin: 0 0 10px 0;
      padding: 0;

      h3, a.module-title {
        font-family: $regular;
        font-weight: bold;
        color: $white;
        padding: 5px 10px;
        margin: 0;
        display: block;
        text-transform: lowercase;
        font-size: 13px;
      }

      a.module-title {
        color: $white;

        &:hover {
          color: $white;
          background-color: $seaBlue;
        }
      }
    }

    ul {
      padding: 0 8px;
    }

  }

}
