
@import 'colors';
@import 'mixins';
@import 'fonts';


body {
  color: $darkGray;
  font-family: $fontFamily;
  font-size: 15px;
  background-color: $seaBlue;
}

hr {
  border: 0 solid $whiteBlue;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: $headerFontFamily;
  font-size: 21px;
  margin-bottom: 15px;
}

a {
  text-decoration: underline;
  color: $seaBlue;

  &:hover {
    color: $lightSeaBlue;
  }
}

@mixin white-links {
  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.btn:hover {
      text-decoration: none;
    }
  }
}


.navbar {
  margin-bottom: 0;
  height: 80px;
  background-color: $navBlue;
  border: none;
  border-radius: 0;

  .navbar-brand {
    margin: 0;
    padding: 0;
  }

  .nav {
    margin-bottom: 0;
  }

  .navbar-nav > li > a {
    line-height: 80px;
    padding: 0 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: $lightFontFamily;
    letter-spacing: 1px;

    transition: all .1s ease-in;

    &:hover {
      background-color: $mainBlue;
    }
  }
}

.title-wrapper {
  background-color: $seaBlue;
  @include linear-gradient($seaBlue, $lightSeaBlue);
  box-shadow: 0 2px 3px $darkerSeaBlue inset;
  color: $whiteBlue;
  padding: 40px;
  text-align: center;

  @include white-links;

  h1 {
    color: white;
    font-family: $lightFontFamily;
    font-size: 40px;
    font-weight: 300;
    margin: 0;

    a {
      color: white;
      text-decoration: none;
    }
  }

  p {
    font-family: $lightFontFamily;
    margin-top: 10px;
  }

  strong {
    font-family: $fontFamily;
    color: white;
  }
}

.light-wrapper, .dark-wrapper {

  .container {
    padding: 30px 0 50px 0;
  }

  h2, p.subtitle {
    font-family: $lightFontFamily;
    text-align: center;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 32px;
    color: white;
  }
}

.light-wrapper {
  background-color: $smokeWhite;

  h2 {
    color: $darkGray;
  }
}

.dark-wrapper {
  background-color: $seaBlue;
  @include linear-gradient($seaBlue, $lightSeaBlue);
  @include white-links;
  color: $whiteBlue;

  box-shadow: 0px 2px 3px $darkerSeaBlue inset;
}

.footer-wrapper {
  @include white-links;
  box-shadow: 0px 2px 3px $darkerSeaBlue inset;
  text-align: center;
  color: $whiteBlue;
  padding: 20px;
  font-family: $lightFontFamily;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  border: none;
  border-bottom: 3px solid #f5f5f5;
  padding: 7px 12px 5px 12px;
  transition: all .1s ease-in;
  &:hover {
    text-decoration: none;
  }
}

.btn-xs {
  border-bottom-width: 2px;
  padding: 2px 5px 0px 5px;
}

.btn-default {
  background-color: $lightGray;
  border-color: darken($lightGray, 5%);
  color: $gray;

  &:hover {
    background-color: darken($lightGray, 5%);
    border-color: darken($lightGray, 10%);
    color: $darkGray;
  }
}

.btn-primary {
  background-color: $mainBlue;
  border-color: desat-dark($mainBlue);

  &:hover {
    background-color: darken($mainBlue, 5%);
    border-color: darken(desat-dark($mainBlue), 5%);
  }
}

.btn-warning {
  background-color: $orange;
  border-color: desat-dark($orange);

  &:hover {
    background-color: darken($orange, 5%);
    border-color: darken(desat-dark($orange), 5%);
  }
}

.alert {
  border-radius: 0;
  border-width: 3px;
}

.alert-danger {
  a {
    color: $red;
  }
}

input[type="text"], input[type="password"], textarea {
  border-radius: 0;
}

.has-error {

  .error-message {
    margin-top: 0;
    padding: 6px 12px;
    background-color: $whiteRed;
    color: $red;
    font-size: 13px;
  }
}

.form-actions {
  margin-top: 30px;
}

.uppercase {
  text-transform: uppercase;
}

.user-avatar {
  font-family: $mono;
  display: inline-block;
  text-decoration: none;
  color: $gray;

  .avatar {
    border-radius: 2px;
    display: inline-block;
    margin-right: 6px;
  }

  .handle {
  }

  &a:hover {
    text-decoration: none;
    color: $darkGray;

    .handle {
      text-decoration: underline;
    }
  }
}
