
@import 'colors';
@import 'mixins';
@import 'fonts';

h1 {
  font-family: $thin;
  color: $darkGrey;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-family: $thin;
  color: $darkGrey;
  margin-top: 0;
  margin-bottom: 20px;
}

h3, h4, h5, h6 {
  font-family: $serif;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 15px;
}

h3 {
  font-size: 14px;
}

a {
  color: $seaBlue;
  transition: all .1s ease-in;
  cursor: pointer;

  &:hover, &:active {
    color: $mainBlue;
    text-decoration: none;
  }
}

section.blue {
  color: $white;

  h1, h2, h3, h4, h5 {
    color: $white;
  }

  .form-control {
    box-shadow: none;
    border-width: 0;
  }
}

hr {
  border-top: 2px solid $lightSeaBlue;
}

.align-center {
  text-align: center;
}

.btn {
  padding: 7px 12px 5px 12px;
  transition: all .1s ease-in;
  box-shadow: 1px 1px 1px $shadow;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  font-family: $serif;
  font-size: 14px;
  text-transform: lowercase;

  &:hover {
  }
}

.btn-sm {
  padding: 3px 8px 3px 8px;
  border-bottom-width: 2px;
  border-radius: 2px;
  font-size: 13px;
}

.btn-xs {
  padding: 2px 5px 0px 5px;
  border-bottom-width: 1px;
  border-radius: 1px;
  font-size: 12px;
}

.btn-default {
  background-color: $lightGrey;
  border-color: darken($lightGrey, 5%);
  color: $grey;

  &:hover {
    background-color: darken($lightGrey, 5%);
    border-color: darken($lightGrey, 10%);
    color: $darkGrey;
  }
}

.btn-primary {
  background-color: $mainBlue;
  border-color: little-desat-dark($mainBlue);

  &:hover {
    background-color: darken($mainBlue, 5%);
    border-color: darken(little-desat-dark($mainBlue), 5%);
  }
}

.btn-warning {
  background-color: $orange;
  border-color: desat-dark($orange);

  &:hover {
    background-color: darken($orange, 5%);
    border-color: darken(desat-dark($orange), 5%);
  }
}

.btn-danger {
  background-color: $white;
  border-color: darken($lightGrey, 5%);
  color: $red;

  &:hover {
    background-color: $red;
    border-color: desat-dark($red);
  }
}

.btn-link {
  border-color: transparent;
  box-shadow: none;
}

.alert {
  border-radius: 0;
  border-width: 3px;
}

.alert-danger {
  a {
    color: $red;
  }
}

.alert-warning {
  background-color: $lighterOrange;
  border-color: $lightOrange;
  color: $darkOrange;
}

.form-control,
section.blue .panel .form-control {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: $white;
  font-family: $regular;
  font-size: 14px;
  box-shadow: inset 0 1px 1px $shadow;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 3px $lightGrey;
    border-color: $mainBlue;
  }
}

.form-inline {
  .form-group + .btn,
  .btn + .btn {
    margin-left: 10px;
  }
}

.form-group {
  .control-label {
    font-family: $thin;
  }

  .form-control {
  }

  .feedback {
    min-height: 24px;
    line-height: 24px;
    font-size: 14px;
  }

  &.with-error {
    .has-error .control-label {
      color: $whiteSeaBlue;
    }

    .form-control {
      /* box-shadow: none; */
      border-color: $lightOrange;
    }

    .feedback {
      color: $orange;
    }
  }
}

.form-error-global {
  color: $orange;
  padding: 10px 0;
}

label {}

.label {
  font-family: $thin;
  text-transform: uppercase;
  padding: 0 5px;
  line-height: 1.4;
  border-radius: 2px;

  &.label-default {
    background-color: $lightSeaBlue;
    color: $white;
  }
}

.form-actions {
  margin-top: 30px;
}

.uppercase {
  text-transform: uppercase;
}

.player-avatar {
  display: inline-block;

  .avatar {
    display: inline-block;
    vertical-align: none;
    height: 19px;
    width: 19px;
    border-radius: 10px;
    margin-right: -2px;
  }

  .handle {
    font-weight: bold;
  }
}

.list-rankings {
  @include players-list;
}

