
@import 'colors';
@import 'mixins';
@import 'fonts';

h1 {
  font-family: $thin;
  color: $darkGrey;
  margin-top: 0;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  font-family: $thin;
  color: $darkGrey;
  margin-top: 0;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  font-family: $thin;
}

a {
  color: $seaBlue;
  cursor: pointer;

  &:hover, &:active {
    color: $seaBlue;
    text-decoration: none;
  }
}

p {
  margin: 0;

  & + p {
    margin-top: 16px;
  }
}

section.blue {
  background-color: $mainBlue;
  color: $white;
  /* @include gradient-directional($seaBlue, $mainBlue, 30deg); */

  h1, h2, h3, h4, h5 {
    color: $white;
  }

  .form-control {
    box-shadow: none;
    border-width: 0;
  }
}

section.white {
  background-color: #eee;
}

section.grey {
  background-color: $lightGrey;
  @include shadow-inset-light;
}

$header: 154px;

header {
  height: $header;
  background-color: $seaBlue;
  color: white;

  .hex-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .container {
    position: relative;
    height: $header;

    h1 {
      color: white;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 32px;
      left: 16px;
    }
  }

  .action-title {
    position: absolute;
    bottom: 32px;
    left: -36px;

    &:hover {
      color: $mainBlue;

      i {
        opacity: 0.8;
      }
    }

    h1 {
      position: initial;
      display: inline-block;
      margin-left: 16px;
      vertical-align: top;
      line-height: 36px;
    }

    i {
      color: white;
      opacity: 0.6;
      font-size: 36px;
      width: 36px;
      text-align: center;
      vertical-align: top;
    }
  }

}

.sheet {
  @include sheet;
}

hr {
  border-top: 2px solid $lightSeaBlue;
}

.align-center {
  text-align: center;
}

.btn-floating {
  display: block;
  height: 56px;
  width: 56px;
  transition: bezier(box-shadow), bezier(background-color);
  @include shadow-medium;
  position: relative;
  background-color: $lightGrey;
  border: none;
  border-radius: 28px;
  color: $white;
  font-size: 24px;
  cursor: pointer;
  text-align: center;

  i {
    line-height: 56px;
  }

  &:hover {
    color: $white;
  }

  &:active {
    @include shadow-strong;
  }

  @mixin btn-theme($color) {
    background-color: $color;
    &:hover {
      background-color: $color;
    }
    &:active {
      background-color: darken($color, 8%);
    }
  }

  &.btn-condensed {
    height: 40px;
    width: 40px;
    @include shadow-light;

    i {
      line-height: 40px;
    }

    &:active {
      @include shadow-medium;
    }
  }

  &.btn-white {
    background-color: white;
    color: $mediumGrey;
  }

  &.btn-primary {
    @include btn-theme($mainBlue);
  }

  &.btn-positive {
    @include btn-theme($green);
  }

  &.btn-warn {
    @include btn-theme($orange);
  }
}

.btn-flat, .btn-raised {
  display: inline-block;
  line-height: 36px;
  min-width: 64px;
  padding: 0 8px;
  color: $seaBlue;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  transition: bezier(background-color), bezier(color);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $whiteSeaBlue;
  }

  &:active {
    outline: none;
  }

  &[disabled] {
    color: $mediumGrey;

    &:hover {
      background-color: inherit !important;
    }
  }

  &.condensed {
    line-height: 32px;
  }

  & + .btn-flat,
  & + .btn-raised {
    margin-left: 12px;
  }

  i {
    vertical-align: top;
    margin-top: 4px;
    margin-right: 4px;
  }
}

.btn-flat {
  &.btn-danger {
    color: $red;

    &:hover {
      background-color: lighten($red, 52%);
    }
  }
}


.btn-raised {
  @include bezier(background-color);
  border-radius: 2px;

  &.btn-primary {
    background-color: $mainBlue;
    color: $white;
  }

  &.btn-danger {
    background-color: $red;
    color: $white;
  }

  &.btn-positive {
    background-color: $green;
    color: $white;
  }

  &.btn-white {
    background-color: $white;
    color: $mainBlue;

    &:active {
      background-color: $lightGrey;
    }

  }

  & + .btn-flat {
    margin-left: 12px;
  }

  &.btn-raised {
    @include shadow-light;

    &:hover {
      @include shadow-medium;
    }
  }
}

.tabs-container {
  background-color: #EEE;
  
  .tabs-content {
    display: flex;

    .tab {
      flex: 1;
      line-height: 46px;
      padding: 0 12px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: bold;
      color: $grey;
      border-bottom: 2px solid transparent;

      &.tab-selected {
        color: $darkGrey;
        border-color: $mainBlue;
      }

      &:hover {
        background-color: #F3F3F3;
      }
    }
  }
}

aside {
  
  h3 {
    margin: 16px 16px 8px 16px;
    font-weight: bold;
    font-family: $regular;
    font-size: 14px;
    color: $grey;
  }

}


/* .btn { */
/*   padding: 7px 12px 5px 12px; */
/*   transition: all .1s ease-in; */
/*   box-shadow: 1px 1px 1px $shadow; */
/*   border: none; */
/*   border-bottom: 3px solid transparent; */
/*   border-radius: 3px; */
/*   font-family: $serif; */
/*   font-size: 14px; */
/*   text-transform: lowercase; */

/*   &:hover { */
/*   } */
/* } */

/* .btn-sm { */
/*   padding: 3px 8px 3px 8px; */
/*   border-bottom-width: 2px; */
/*   border-radius: 2px; */
/*   font-size: 13px; */
/* } */

/* .btn-xs { */
/*   padding: 2px 5px 0px 5px; */
/*   border-bottom-width: 1px; */
/*   border-radius: 1px; */
/*   font-size: 12px; */
/* } */

/* .btn-default { */
/*   background-color: $lightGrey; */
/*   border-color: darken($lightGrey, 5%); */
/*   color: $grey; */

/*   &:hover { */
/*     background-color: darken($lightGrey, 5%); */
/*     border-color: darken($lightGrey, 10%); */
/*     color: $darkGrey; */
/*   } */
/* } */

/* .btn-primary { */
/*   background-color: $mainBlue; */
/*   border-color: little-desat-dark($mainBlue); */

/*   &:hover { */
/*     background-color: darken($mainBlue, 5%); */
/*     border-color: darken(little-desat-dark($mainBlue), 5%); */
/*   } */
/* } */

/* .btn-warning { */
/*   background-color: $orange; */
/*   border-color: desat-dark($orange); */

/*   &:hover { */
/*     background-color: darken($orange, 5%); */
/*     border-color: darken(desat-dark($orange), 5%); */
/*   } */
/* } */

/* .btn-danger { */
/*   background-color: $white; */
/*   border-color: darken($lightGrey, 5%); */
/*   color: $red; */

/*   &:hover { */
/*     background-color: $red; */
/*     border-color: desat-dark($red); */
/*   } */
/* } */

/* .btn-link { */
/*   border-color: transparent; */
/*   box-shadow: none; */
/* } */

.alert {
  border-radius: 0;
  border-width: 3px;
}

.alert-danger {
  a {
    color: $red;
  }
}

.alert-warning {
  background-color: $lighterOrange;
  border-color: $lightOrange;
  color: $darkOrange;
}

.form-group {
  position: relative;
  padding-top: 16px;
  margin-bottom: 24px;

  .form-control {
    /* margin: 8px 16px; */
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 4px 0 5px 0;
    box-shadow: none;
    background-color: transparent;
    font-size: 15px;

    &:focus {
      outline: none;
      box-shadow: none;
      border-width: 2px;
      padding-bottom: 4px;
      border-color: $mainBlue;
    }
  }

  .form-control:focus ~ label,
  .form-control.filled ~ label,
  .inline-fields ~ label {
    font-size: 13px;
    top: 0;
  }

  label {
    display: block;
    position: absolute;
    top: 20px;
    transition: bezier(all);
    font-size: 15px;
  }

  .inline-fields {
    display: flex;
    flex-direction: row;

    .form-control + .form-control {
      margin-left: 16px;
    }
  }

  .feedback {
    min-height: 24px;
    line-height: 24px;
    font-size: 14px;
  }

  &.with-error {
    transition: bezier(all);

    label {
      color: $red;
    }

    .form-control {
      border-color: $red;
    }

    .feedback {
      color: $red;
    }
  }
}

.form-inline {
  .form-group + .btn,
  .btn + .btn {
    margin-left: 8px;
  }
}

.form-error-global {
  color: $orange;
  padding: 10px 0;
}

.label {
  font-family: $thin;
  text-transform: uppercase;
  padding: 0 5px;
  line-height: 1.4;
  border-radius: 2px;

  &.label-default {
    background-color: $lightSeaBlue;
    color: $white;
  }
}

.form-actions {
  margin-top: 30px;
}

.uppercase {
  text-transform: uppercase;
}

.player-avatar {
  display: inline-block;

  .avatar {
    display: inline-block;
    vertical-align: none;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 8px;
  }

  .handle {
    font-weight: bold;
  }
}


.list-players {
  @include players-list;
}


.list-rankings {
  @include players-list;
  @include rankings;
}


.material-icons {
  @include icon;
}

/* .dialog-backdrop { */
/*   position: fixed; */
/*   top: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   left: 0; */
/*   z-index: 101; */
/*   background: rgba(0, 0, 0, 0.5); */
/*   opacity: 0; */
/*   display: none; */
/* } */

.dialog-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);

  .dialog-positioner {
    position: relative;
    width: auto;
    margin: 16px auto;
    z-index: 103; 
    width: 600px;
  }

  .dialog-sheet {
    @include shadow-strong;
    @include sheet;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    max-height: 80%;
  }

  .dialog-header {
    padding: 24px;
    padding-bottom: 16px;
    vertical-align: top;
    flex-shrink: 0;

    .dialog-title {
      font-weight: bold;
      font-size: 21px;
      line-height: 24px;
      color: black;
      font-family: $thin;
    }

    .dialog-subtitle {
    }

    .dialog-close {
      display: block;
      float: right;
      color: $grey;
      cursor: pointer;
      font-size: 18px;
      vertical-align: top;

      i {
      }
    }
  }

  .dialog-body {
    flex: 1;
    overflow-y: auto;

    .list-rankings {
      border-top: $border;
      margin-bottom: 0;
    }
  }
  
}
