@import 'colors';
@import 'fonts';

.time-trial-rankings {
  font-family: $mono;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 1px 2px $lightGray;
  border: 2px solid white;

  li {
    list-style: none;
    border-bottom: 1px solid $smokeWhite;
    padding: 5px 10px;

    &:last-child {
      border-bottom-color: transparent;
    }

    .rank {
      width: 20px;
      display: inline-block;
    }

    .rank:after {
      content: ".";
    }

    .time {
      float: right;
    }

    &.current-player {
      background-color: $smokeWhite;
      color: $mainBlue;

      .user-avatar .handle {
        color: $mainBlue;
      }
    }

    &.empty {
      color: $gray;
    }

    &.out-of-window {
      border-top: 1px solid $mainBlue;
      padding-top: 4px;
    }
  }
}

.show-time-trial {

  h3 {
    margin-top: 0;
  }

  .trial-picture {
    margin-bottom: 20px;
    height: 200px;
    background-color: $seaBlue;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav {
    margin-top: 30px;
    background-color: $navBlue;
    box-shadow: 0px 1px 2px $lightGray;

    li {
      margin: 0;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          background-color: $mainBlue;
        }
      }

      &.active {
        a {
          background-color: $seaBlue;
        }
      }
    }
  }
}

.previous-period {
  text-align: left;
}

.table-leaderboard {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 2px $lightGray;

  tbody {
    font-family: $mono;
  }

  th {
    text-align: center;
    border-bottom-width: 2px;
    background-color: $navBlue;
    color: white;
    font-size: 13px;
    white-space: nowrap;

    a {
      display: block;
      height: 100%;
      padding: 10px 5px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $lightFontFamily;
      letter-spacing: 1px;

      &:hover {
        background-color: $mainBlue;
      }
    }
  }

  td {
    padding: 5px 10px;
    border-bottom: 1px solid $smokeWhite;
  }

  th:last-child {
    td {
      border-bottom: none;
    }
  }

  .rank {
    width: 10px;
    padding-right: 0;
  }

  .user {
    padding-left: 5px;
    white-space: nowrap;
  }

  .current-player td {
    background-color: $smokeWhite;
    color: $mainBlue;

    .user-avatar .handle {
      color: $mainBlue;
    }
  }

  .overall-points, .points {
    width: 115px;
    text-align: center;
  }

}
