@import "colors";
@import "fonts";

.upload-avatar {

  label {
    display: block;
  }

  img {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px $lightGray;
  }

  input[type='file'] {
    display: inline;
  }

  .alert {
    margin-top: 15px;
  }

  .form-remove-avatar {
    margin-top: 50px;
  }
}

.form-settings {
  .vmg-magnet {
    width: 80px;
  }
}

.show-user {

  .title-wrapper .avatar {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px $darkSeaBlue;
  }

  .badge-rank {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
    background-color: $orange;
    color: white;
    font-family: $lightFontFamily;
    border-radius: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 21px;

    sup {
      font-size: 13px;
    }

    &:hover {
      background-color: lighten($orange, 5%);
    }
  }

  .user-time-trial {
    margin-top: 20px;
    margin-bottom: 30px;

    .trial-name {
      display: block;
      padding: 10px;
      font-family: $lightFontFamily;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background-color: $navBlue;
      box-shadow: 0 1px 2px $lightGray;
      letter-spacing: 1px;
      color: white;

      &:hover {
        background-color: $mainBlue;
      }
    }

    .time-trial-rankings {
      border-radius: 0;
    }

    .btn-run-trial {
      margin-top: 10px;
    }
  }
}
