@import "colors";
@import "fonts";

.upload-avatar {

  label {
    display: block;
  }

  img {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px $lightGray;
  }

  input[type='file'] {
    display: inline;
  }

  .alert {
    margin-top: 15px;
  }

  .form-remove-avatar {
    margin-top: 50px;
  }
}

.form-settings {
  .vmg-magnet {
    width: 80px;
  }
}

.show-user {

  .title-wrapper .avatar {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px $darkSeaBlue;
  }

  .badge-rank {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
    background-color: $orange;
    color: white;
    font-family: $lightFontFamily;
    border-radius: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 21px;

    sup {
      font-size: 13px;
    }

    &:hover {
      background-color: lighten($orange, 5%);
    }
  }

}
