@import url(http://fonts.googleapis.com/css?family=Inconsolata);

$seaBlue: rgb(10, 105, 148);
$sand: rgb(239, 210, 121);
$fontFamily: Inconsolata,monospace;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #EEE;
  font-family: $fontFamily;
  font-size: 15px;
  background-color: $seaBlue;
  overflow: scroll;
}

input,textarea {
  font-family: $fontFamily;
}

.wrapper {
  height: 100%;
}

.home {
  margin: 20px auto;
  width: 800px;
  text-align: center;
}

hr {
  margin-top: 100px;
  margin-bottom: 20px;
  border: 0px solid white;
  opacity: 0.2;
  border-top-width: 2px;
}

a {
  color: white;
}

p {
  margin: 30px 0;
}

.btn-new-race {
  display: block;
  font-size: 21px;
  text-decoration: none;
  background-color: darken(orange, 5%);
  border: none;
  color: darken($seaBlue, 10%);
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 60px;
  box-shadow: 3px 3px 0px rgba(0,0,0,0.3);
  line-height: 40px;

  &:hover {
    background-color: lighten(orange, 5%);
    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
  }

  &.loading {
    background-color: darken(orange, 10%);
  }
}

.user-name {
  color: orange;
}

.change-name {
  display: inline-block;
  background-color: white;
  opacity: 0.9;
  color: $seaBlue;
  padding: 2px 4px;
  margin-left: 10px;
  text-decoration: none;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.3);

  &:hover {
  opacity: 1;
  }
}

.races-board {
  margin-top: 40px;

  table {
    width: 100%;
    background-color: darken($seaBlue, 6%);
  }

  caption {
    width: 20%;
    margin: 0 auto;
    padding: 4px;
    background-color: darken($seaBlue, 3%);
    text-transform: uppercase;
    color: lighten($seaBlue, 5%);
  }

  td, th {
    padding: 4px 4px;
  }

  td {
    background-color: $seaBlue;
  }

  tr:hover td {
    background-color: lighten($seaBlue, 3%);
  }

}

.finished-races {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;

  h3 {
    font-size: 15px;
    text-transform: uppercase;
  }

  h4 {
    margin: 0 auto;
    margin-top: 15px;
    padding: 4px;
    background-color: darken($seaBlue, 3%);
    text-transform: uppercase;
    color: lighten($seaBlue, 5%);
  }

  table {
    width: 100%;
    background-color: darken($seaBlue, 6%);
  }

  td {
    padding: 4px 4px;
    text-align: left;
    vertical-align: top;

    &.time {
      text-align: right;
      white-space: nowrap;
    }
  }
}

.game {
  height: 100%;
}
