@(race: Race, users: Seq[User], currentPlayer: Option[Player])(implicit lang: Lang)


@import org.joda.time.DateTime
@import views.Helpers._

@playerTime(startTime: DateTime, bestTime: DateTime, gates: Seq[DateTime], position: Int) = @{
  if (position == 0) {
    gates.headOption.map(_.getMillis - startTime.getMillis).map(timer).getOrElse("")
  } else {
    gates.headOption.map(_.getMillis - bestTime.getMillis).map(timeDelta).getOrElse("")
  }
}

@for(startTime <- race.startTime) {
  @for(bestTime <- race.tally.headOption.flatMap(_.gates.headOption)) {
    <div class="finished-race">
      <table>
        <caption>@startTime.toString("EEEE HH:mm", lang.toLocale)</caption>
        <tbody>
        @for((PlayerTally(playerId, playerHandle, gates), position) <- race.tally.zipWithIndex) {
          <tr @if(currentPlayer.exists(_.id == playerId)) { class="current-player" }>
            <td>
              @{position + 1}.
              @users.find(_.id == playerId) match {
                case Some(user) => {
                  <a href="@routes.Users.show(user.idToStr)">@user.handle</a>
                }
                case None => { Anonymous }
              }
            </td>
            <td class="time">
            @if(gates.size == race.course.gatesToCross) {
              @playerTime(startTime, bestTime, gates, position)
            } else {
              DNF
            }
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  }
}
