@(user: User, form: Form[Int], message: Option[String] = None)(implicit req: PlayerRequest[_], lang: Lang)

@main {

  <div class="title-wrapper">
    <div class="container">
      <h1>@Messages("me.edit")</h1>
    </div>
  </div>

  <div class="light-wrapper">
    <div class="container">

      <div class="row">

        <div class="col-lg-4 col-lg-offset-2 upload-avatar">
          <h3>@Messages("me.updateAvatar")</h3>

          <div class="alert alert-success" style="display: none">@Messages("me.avatarUpdated")</div>

          @views.html.users.avatar(user, 160)

          <p>
            <input type="file" name="picture" id="uploadPicture" accept="@Avatar.contentTypes.mkString(",")"
            data-action="@routes.Users.uploadAvatar()" />
          </p>

          @user.avatarId.map { avatarId =>
            <form action="@routes.Users.removeAvatar()" method="post" class="form-remove-avatar">
              <input type="submit" value="@Messages("me.removeAvatar")" class="btn btn-default" />
            </form>
          }
        </div>

        <div class="col-lg-4 col-lg-offset-0 update-settings">
          <h3>@Messages("me.settings")</h3>

          @message.map { m =>
            <div class="alert alert-success">
              @m
            </div>
          }

          <form action="@routes.Users.update()" method="post" class="form-vertical form-settings">

            <div class="form-group">
              <label>@Messages("me.vmgMagnet")</label>
              <input type="number" value="@form("vmgMagnet").value" min="0" max="30"
                class="form-control vmg-magnet" id="vmgMagnet" name="vmgMagnet" />
            </div>

            <div class="form-actions">
              <input type="submit" value="@Messages("me.updateSettings")" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

}
