@(user: User, races: Seq[Race], opponents: Seq[User])(implicit lang: Lang)

@main {
  <div class="show-user">

    <div class="nav"><a href="@routes.Application.index">&larr; @Messages("backHome")</a></div>

    <h1>@user.handle</h1>

    @user.status.map { status =>
      <div class="status">@status</div>
    }

    <div class="row">
      <div class="finished-races col-md-offset-3 col-md-6">
        <h2>@Messages("users.finishedRaces")</h2>
        @for(race <- races) {
          @views.html.races.finishedBoard(race, opponents, Some(user))
        }
        @if(races.isEmpty) {
          <p>@Messages("users.noRaces")</p>
        }
      </div>
    </div>

  </div>
}
