@(user: User,
  trials: Seq[(TimeTrial, Seq[RunRanking])],
  trialsUsers: Seq[User],
  trialLeaderboard: core.TimeTrialLeaderboard.Leaderboard
)(implicit req: PlayerRequest[_], lang: Lang)

@import tools.DateFormats._

@main {
  <div class="show-user">

    <div class="title-wrapper">
      <div class="container">
        @views.html.users.avatar(user, 160)
        <h1>@user.handle</h1>
        <p class="align-center">@Messages("profile.registeredSince", formatDateFullMonth(user.creationTime.toLocalDate))</p>
        @if(user.id == req.player.id) {
          <p class="center"><a href="@routes.Users.edit()" class="btn btn-primary btn-sm">@Messages("profile.edit")</a></p>
        }
      </div>
    </div>


    <div class="light-wrapper">
      <div class="container">


        <a name="trials"></a>
        <h2>@Messages("profile.timeTrials")</h2>
        <p class="subtitle">@formatMonthYear(org.joda.time.LocalDate.now)</p>

        @trialLeaderboard.find(_._2 == user.id) match {
          case Some((r, _, p)) => {
            <a href="@routes.TimeTrials.currentLeaderboard()" class="badge-rank badge-rank-@r">@r<sup>@Messages(views.Helpers.rankSuffixKey(r))</sup></a>
          }
          case None => {
          }
        }
        @for(row <- trials.grouped(3)) {
          <div class="row">
          @for((trial, rankings) <- row) {
            <div class="col-md-4">
              <div class="user-time-trial">
                <a href="@routes.TimeTrials.show(trial.id.stringify)" class="trial-name">
                  @Messages("generators." + trial.slug + ".name")
                </a>

                @if(rankings.nonEmpty) {
                  @views.html.timeTrials.ranking(rankings, trialsUsers, user, windowMaybe = Some(5))
                }

                @if(req.player.id == user.id) {
                  <a href="@routes.Application.playTimeTrial(trial.id.stringify)" target="_blank"
                    class="btn btn-warning btn-block btn-sm btn-run-trial">@Messages("timeTrials.run")</a>
                }
              </div>
            </div>
          }
          </div>
        }

      </div>
    </div>

  </div>
}
