@(tournament: Tournament, form: Form[TournamentData])(implicit req: PlayerRequest[_], lang: Lang)

@main {

  @panel(Messages("tournaments.edit")) {
    <div class="edit-tournament">
      <form action="@routes.Tournaments.update(tournament.idToStr)" method="post">
        @views.html.tournaments.form(form)
        <div class="form-actions">
          <input type="submit" value="@Messages("submit")" class="btn btn-primary btn-block" />
        </div>
      </form>
      <p class="align-center"><a href="@routes.Tournaments.show(tournament.idToStr)">@Messages("cancel")</a></p>
    </div>
  }

}
