@(openTournaments: Seq[RichTournament], finishedTournaments: Seq[RichTournament])(implicit req: PlayerRequest[_], lang: Lang)

@import play.api.Play.current
@import tools.DateFormats._

@main {
  <div class="title-wrapper">
    <div class="container">
      <h1>@Messages("tournaments.title")</h1>

    </div>
  </div>

  <div class="light-wrapper">
    <div class="container">

      <h2 class="">@Messages("tournaments.openTournaments")</h2>

      @req.player match {
        case u: User => {
          <div class="align-center">
            <a href="@routes.Tournaments.creation()" class="btn btn-primary">
            @Messages("tournaments.new")
            </a>
          </div>
        }
        case g: Guest => {
        }
      }

      @if(openTournaments.nonEmpty) {
        @for(RichTournament(tournament, master, races, users, leaderboard) <- openTournaments) {
          <div class="row open-tournaments">
            <div class="col-md-6 left">
              <h3><a href="@routes.Tournaments.show(tournament.id.stringify)">@tournament.name</a></h3>
              <div class="tournament-master">@views.html.users.playerWithAvatar(master)</div>
            </div>
            <div class="col-md-6 right">
              <ul class="list-unstyled">
                  <li>
                    @tournament.meetTime.map { meetTime =>
                      <span class="tournament-time">@formatDateTime(meetTime)</span>
                    }
                  </li>
              </ul>
            </div>
          </div>
        }
      }

      @if(finishedTournaments.nonEmpty) {

        <div class="row finished-tournaments">
          <div class="col-md-6 left">
            <h3>@Messages("tournaments.finishedTournaments")</h3>
          </div>
          <div class="col-md-6 right">
          @for(RichTournament(tournament, master, races, users, leaderboard) <- finishedTournaments) {
              <a href="@routes.Tournaments.show(tournament.id.stringify)">
                <span class="tournament-name">@tournament.name</span>
                @races.lastOption.flatMap(_.startTime).map { finishTime =>
                  <span class="tournament-time">@formatDateTime(finishTime)</span>
                }
              </a>
              <ul class="list-unstyled">
                @for(ranking <- leaderboard) {
                  <li>
                    <span class="rank">@ranking.rank</span>
                    @views.html.users.playerWithAvatar(ranking.findPlayer(users))
                    <span class="points">@Messages("points", ranking.points)</span>
                  </li>
                }
              </ul>
            </div>
          </div>
        }
      </div>
    </div>
  }



}
