@(tournament: Tournament,
  pendingRaces: Seq[Race],
  finishedRaces: Seq[Race],
  users: Seq[User]
  )(implicit req: PlayerRequest[_], lang: Lang)

@import views.html.bootstrap3._

@main {

  <div class="title-wrapper">
    <div class="container">

      <p><a href="@routes.Tournaments.index()">&uarr; @Messages("tournaments.show.back")</a></p>
      <h1>@tournament.name</h1>
      @tournament.meetTime.map { time =>
        <p class="subtitle">@formatDateTime(time)</p>
      }
      @tournament.description.map { description => <p class="subtitle">@description</p> }

      @if(pendingRaces.nonEmpty) {

        <div class="row tournament-program">
          <div class="col-md-6 left">
            <h3>@Messages("tournaments.program")</h3>
          </div>
          <div class="col-md-6 right">

            <ul class="list-unstyled">
            @for(race <- pendingRaces) {
              <li>
                @if(req.player.isAdmin) {
                  @if(race.mounted) {
                    <form class="pull-right" action="@routes.Tournaments.unmountRace(tournament.id.stringify, race.id.stringify)" method="post">
                      <button class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-eject unmount-tournament-race" aria-hidden="true"></span>
                      </button>
                    </form>
                  } else {
                    <form class="pull-right" action="@routes.Tournaments.mountRace(tournament.id.stringify, race.id.stringify)" method="post">
                      <button class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-play mount-tournament-race" aria-hidden="true"></span>
                      </button>
                    </form>
                  }
                }

                <div class="race-generator">@Messages(s"generators.${race.generator}.name")</div>

                <div class="race-time">
                  @race.startTime.map(formatDateTime).getOrElse(Messages(s"tournaments.races.emptyStartTime"))
                </div>
              </li>
            }
            </ul>

          </div>
        </div>
      }


      @req.player match {
        case u: User => {
          @if(u.id == tournament.masterId) {
            <div class="align-center btn-group">
              <a class="btn btn-primary" href="@routes.Tournaments.edit(tournament.idToStr)">@Messages("edit")</a>
              @if(tournament.state == TournamentState.open) {
                <a href="@routes.Tournaments.raceCreation(tournament.id.stringify)" class="btn btn-primary">
                @Messages("tournaments.addRace")
                </a>
              }
            </div>
          }
        }
        case g: Guest => {
        }
      }

    </div>
  </div>

  <div class="light-wrapper">
    <div class="container">

      <h2>@Messages("tournaments.rankings")</h2>

      @if(finishedRaces.nonEmpty || pendingRaces.nonEmpty) {
      <table class="table-leaderboard tournament-leaderboard">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>@Messages("points")</th>
            @for((race, i) <- finishedRaces.zipWithIndex) {
              <th class="race finished">
                <span class="race-number">@{i + 1}</span>
                <span class="generator-name">@Messages("generators." + race.generator + ".name")</span>
              </th>
            }
            @for(race <- pendingRaces) {
              <th class="race pending">
                <span class="generator-name">@Messages("generators." + race.generator + ".name")</span>
              </th>
            }
          </tr>
        </thead>
        <tbody>
        @for(ranking <- Tournament.leaderboard(finishedRaces)) {
          <tr class="@if(ranking.playerId == req.player.id) { current-player }">
            <td class="rank">
              @{ranking.rank}.
            </td>
            <td class="user">
              @views.html.users.playerWithAvatar(ranking.findPlayer(users))
            </td>
            <td class="overall-points">@ranking.points</td>
            @for(race <- finishedRaces) {
              <td class="points">
                @race.rankings.find(_.playerId == ranking.playerId).map { raceRanking =>
                  <span class="race-rank race-rank-@raceRanking.rank">@raceRanking.points</span>
                }.getOrElse {
                  <span class="race-rank-dnc">DNC</span>
                }
              </td>
            }
            @for(race <- pendingRaces) {
              <td class="points">
                &nbsp;
              </td>
            }
          </tr>
        }
        </tbody>
      </table>
      } else {
        <div class="align-center"><em>@Messages("tournaments.emptyLeaderboard")</em></div>
      }


      @if(finishedRaces.nonEmpty) {
        @defining(finishedRaces.map(_.rankings.size).max) { maxRankeds =>
          @for(row <- finishedRaces.zipWithIndex.grouped(3)) {
            <div class="row">
            @for((race, i) <- row) {

              <div class="col-md-4">
                <div class="finished-race">
                  <div class="generator-name">
                    @{
                      i + 1
                    }.
                    @Messages("generators." + race.generator + ".name")
                  </div>

                  <ul class="rankings race-rankings">
                    @for(ranking <- race.rankings) {
                      <li class="rank-@ranking.rank">

                        <span class="rank">@ranking.rank</span>

                        @views.html.users.playerWithAvatar(ranking.findPlayer(users))

                        <span class="time">@if(ranking.rank == 1) {
                          @timer(ranking.finishTime)
                        } else {
                          @timeDelta(ranking.finishTime - race.rankings.map(_.finishTime).min)
                        }</span>
                      </li>
                    }
                    @for(_ <- 1.to(maxRankeds - race.rankings.size)) {
                      <li class="empty">&nbsp;</li>
                    }
                  </ul>
                </div>
              </div>

            }
            </div>
          }
        }
      }

    </div>
  </div>
}
