@(title: String = "Tacks")(content: Html)(implicit request: PlayerRequest[_], lang: Lang)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-192x192.png")" sizes="192x192">
    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-160x160.png")" sizes="160x160">
    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-96x96.png")" sizes="96x96">
    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-16x16.png")" sizes="16x16">
    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-32x32.png")" sizes="32x32">
  </head>
  <body class="elm-game ">
    @content
    @ga()
    @views.html.scripts()
  </body>
</html>
