@(initialInput: play.api.libs.json.JsValue, wsUrl: String)(implicit request: PlayerRequest[_], lang: Lang)

@fullscreen() {

  <script src="@routes.Assets.at("javascripts/game.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/mountWebSocket.js")" type="text/javascript"></script>

  <script type="text/javascript">
  var initialInput = @Html(initialInput.toString());
  var wsUrl = "@wsUrl";
  mountWebSocket(wsUrl, Elm.Main, "raceInput", "playerOutput", initialInput);
  </script>

}
