@(trials: Seq[TimeTrial],
  trialsUsers: Seq[User],
  trialLeaderboard: core.TimeTrialLeaderboard.Leaderboard,
  finishedRaces: Seq[Race],
  users: Seq[User],
  userForm: Form[CreateUser]
)(implicit request: PlayerRequest[_], lang: Lang)

@import tools.DateFormats._
@import play.api.Play.current

@main {

  <div class="title-wrapper">
    <div class="container">

      @request.player match {

        case u: User => {
          <h1>@Messages("home.welcome", u.handle)</h1>

          @trialLeaderboard.find(_._2 == u.id) match {
            case Some((r, _, p)) => {
              <p class="align-center">@Html(Messages("home.ranked", r, p))</p>
              <a href="@routes.Users.show(u.handle)" class="btn btn-primary">@Messages("home.profile")</a>
            }
            case None => {
              <p class="align-center">@Messages("home.notRanked")</p>

              @trials.find(_.slug == core.Classic.slug).map { t =>
                <div class="align-center">
                  <a href="@routes.Application.playTimeTrial(t.idToStr)" class="btn btn-warning" target="blank">@Messages("home.runClassic")</a>
                </div>
              }
            }
          }
        }

        case g: Guest => {

          <h1>@Messages("home.title")</h1>
          <p class="align-center">@Html(Messages("home.intro"))</p>

          <form action="@routes.Application.setHandle" method="post" class="form-set-handle row">
            <div class="col-lg-4 col-lg-offset-4">
              <div class="input-group">
                <input type="text" name="handle" class="form-control" value="@g.handle.getOrElse("")" placeholder="@Messages("home.handlePlaceholder")"/>
                <span class="input-group-btn">
                  <input type="submit" value="@Messages("home.setHandle")" class="btn btn-primary" />
                </span>
              </div>
            </div>
          </form>

          @trials.find(_.slug == core.Classic.slug).map { t =>
            <div class="align-center">
              <a href="@routes.Application.playTimeTrial(t.idToStr)" class="btn btn-warning" target="blank">@Messages("home.tryIt")</a>
            </div>
          }

        }
      }

    </div>
  </div>

  <div class="light-wrapper">
    <div class="container">

      <h2>@Messages("home.races")</h2>

      <div id="liveCenter"></div>

      <script id="messages" type="custom-data">
        @Html(play.api.libs.json.Json.toJson(jsmessages.api.JsMessages.filtering(_.startsWith("chat.")).messages).toString())
      </script>
      <div id="chat"></div>

    </div>
  </div>

  <div class="dark-wrapper home-trials">
    <div class="container">

      <h2>@Messages("home.timeTrials")</h2>
      <p class="subtitle"><span class="period">@formatMonthYear(org.joda.time.LocalDate.now)</span></p>

      @views.html.timeTrials.catalog(trials)

    </div>
  </div>
}
