@(races: Seq[(Race, User, RaceStatus)], currentName: Option[String])

@import org.joda.time.DateTime

@main() {

  <div class="content">

    <p>Hello @currentName.getOrElse("Anonymous")!
      <a href="#" id="change-name" data-name="@currentName.getOrElse("")" data-url="@routes.Application.setName()">change name</a> </p>

    <form action="@routes.Application.createRace" method="post">
      <input type="submit" value="Create new race" class="btn-new-race">
    </form>

    @if(races.nonEmpty) {
      <p>Races:</p>
      @for((r, master, status) <- races.sortBy(_._3.startTime.map(_.getMillis))) {
        @defining(status.startTime.map(t => (t.getMillis - DateTime.now.getMillis) / 1000)) { secondsMaybe =>
          <li>
            <a href="@routes.Game.playRace(r.id.stringify)">
              @status.playerStates.map(s => s._2.name + (if (s._1 == master.id.stringify) "*" else "")).mkString(" vs ")
              @if(status.playerStates.isEmpty) { Empty }
              -
              @secondsMaybe.map { seconds =>
                @if(seconds > 0) {
                  start in @{seconds}s!
                } else {
                  started since @{math.abs(seconds)}s
                }
              }.getOrElse {
                to be started
              }
            </a>
          </li>
        }
      }
    }



    <p>&nbsp;</p>
    <p>--</p>
    <p>Tack is a realtime multiplayer sailboat racing game, in your browser. Being in its early stage, it's a bit rough. You'll need Chrome browser on a recent computer.</p>
    <p>Tack is open source: <a href="https://github.com/etaque/tacks">Github repository</a>. Also, you can follow me (<a href="https://twitter.com/etaque">@@etaque</a>) on Twitter.</p>

  </div>

}
