@(content: Html)(implicit req: PlayerRequest[_], lang: Lang)

<!DOCTYPE html>

<html>
  <head>
    <title>Tacks</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-192x192.png")" sizes="192x192">
    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-160x160.png")" sizes="160x160">
    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-96x96.png")" sizes="96x96">
    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-16x16.png")" sizes="16x16">
    <link rel="icon" type="image/png" href="@routes.Assets.at("favicon-32x32.png")" sizes="32x32">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@routes.Application.index">
            <img src="@routes.Assets.at("images/logo-header-2.png")" class="logo" alt="">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <ul class="nav navbar-nav nav-main">
            <li><a href="@routes.Application.index()">@Messages("menu.home")</a></li>
            <!-- <li><a href="@routes.Tournaments.index()">@Messages("menu.tournaments")</a></li> -->
            <li><a href="@routes.TimeTrials.currentLeaderboard()">@Messages("menu.timeTrials")</a></li>
            <li><a href="@routes.Prismic.blog()">@Messages("menu.blog")</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right nav-user">
            @req.player match {
              case u: User => {
                <li><a href="@routes.Users.show(u.handle)">@views.html.users.avatar(u) @Messages("menu.me")</a></li>
                <li><a href="@routes.Auth.logout()">@Messages("menu.logout")</a></li>
              }
              case g: Guest => {
                <li><a href="@routes.Auth.askLogin()">@Messages("menu.login")</a></li>
                <li><a href="@routes.Users.creation()">@Messages("menu.register")</a></li>
              }
            }
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      @content
    </div>

    <div class="footer-wrapper">
      <div class="container">
        <p><a href="@routes.Prismic.about()">@Messages("footer.about")</a></p>
      </div>

    </div>

    @ga()
    @views.html.scripts()
  </body>
</html>
