@(race: Race, wsUrl: String)(implicit request: IdentifiedRequest[_])

@import play.api.libs.json.Json
@import models.JsonFormats.raceUpdateFormat

<!DOCTYPE html>

<html>
  <head>
    <title>Tacks</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body style="overflow: hidden">

    <script src="@routes.Assets.at("javascripts/game.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/mountRace.js")" type="text/javascript"></script>

    <script type="text/javascript">
    var initialInput = @Html(Json.toJson(RaceUpdate.initial(race)).toString());
    mountRace("@wsUrl", initialInput);
    </script>

    @ga()

  </body>
</html>
