@(race: Race, playerName: String, websocketUrlBase: String)(implicit request: controllers.IdentifiedRequest[_])

@import play.api.libs.json.Json
@import models.JsonFormats.raceUpdateFormat

@main() {

  <div class="game" id="game"></div>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/elm-runtime.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/game.js")"></script>
  <script type="text/javascript">

  var playerId = "@request.userId";
  var name = "@playerName";
  var raceId = @Html(Json.toJson(race.id.stringify).toString());
  var ws = new WebSocket("@websocketUrlBase/races/" + raceId + "/play/socket/" + playerId);

  var gameDiv = document.getElementById('game');
  var input = @Html(Json.toJson(RaceUpdate.initial(race).copy(playerState = Some(PlayerState.initial(playerName)))).toString());
  var game = Elm.embed(Elm.Main, gameDiv, { raceInput: input });

  ws.onmessage = function(event) {
    var data = JSON.parse(event.data);
    if (data.now < data.startTime) {
      document.title = formatTimer(data.startTime - data.now);
    } else {
      document.title = "Race started!"
    }
    game.ports.raceInput.send(data);
  };

  ws.onopen = function() {
    game.ports.playerOutput.subscribe(function(state) {
      state.name = name;
      ws.send(JSON.stringify(state))
    });

  };

  </script>

}
