@()(implicit req: PlayerRequest[_], lang: Lang)

@import play.api.Play.current

<script type="text/javascript">
@Html(jsmessages.api.JsMessages.default.apply(Some("window.jsMessages")).body)
</script>

@helper.javascriptRouter("jsRoutes")(
  routes.javascript.Api.liveStatus,
  routes.javascript.Api.createRace,
  routes.javascript.WebSockets.notifications,
  routes.javascript.WebSockets.chatRoom
)

<script src="@routes.Assets.at("javascripts/elm.js")" type="text/javascript"></script>
<!-- <script src="@routes.Assets.at("javascripts/liveCenter.js")" type="text/javascript"></script> -->
<script type="text/javascript">
window.Elm = Elm
</script>

@if(play.api.Play.isProd) {
  <script src="@routes.Assets.at("javascripts/dist/main.js")" type="text/javascript"></script>
} else {
  <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
}

