@(race: Race, name: Option[String], websocketUrlBase: String)(implicit request: RequestHeader)

@import play.api.libs.json.Json
@import models.JsonFormats.raceUpdateFormat

@main() {

  @if(name.isEmpty) {

    <div class="next-race">

      <form class="form-player-name">
        <input type="text" name="name" placeholder="Nickname?" value="@request.session.get("playerName").getOrElse("")">
        <input type="submit" value="Enter the race.">
      </form>

    </div>

  } else {

  <div class="game" id="game"></div>

  <script type="text/javascript" src="http://elm-lang.org/elm-runtime.js"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/game.js")"></script>
  <script type="text/javascript">

  var playerId = "@java.util.UUID.randomUUID().toString";
  var name = "@name.get";
  var raceId = @Html(Json.toJson(race.id.stringify).toString());
  var ws = new WebSocket("@websocketUrlBase/races/" + raceId + "/gameSocket/" + playerId);

  var gameDiv = document.getElementById('game');
  var input = @Html(Json.toJson(RaceUpdate.initial(race)).toString());
  var game = Elm.embed(Elm.ShiftMaster, gameDiv, { raceInput: input });

  ws.onmessage = function(event) {
    var data = JSON.parse(event.data);
    if (data.now < data.startTime) {
      document.title = formatTimer(data.startTime - data.now);
    } else {
      document.title = "Race started!"
    }
    game.ports.raceInput.send(data);
  };

  ws.onopen = function() {
    game.ports.raceOutput.subscribe(function(state) {
      state.name = name;
      ws.send(JSON.stringify(state))
    });

  };

  </script>

  }
}
