@(wsUrl: String)(implicit request: IdentifiedRequest[_], lang: Lang)

@import play.api.libs.json.Json
@import models.JsonFormats.tutorialUpdateFormat

@fullscreen(Messages("tutorial.metaTitle")) {

    <script src="@routes.Assets.at("javascripts/tut.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/mountWebSocket.js")" type="text/javascript"></script>

    <script type="text/javascript">
    var initialInput = @Html(Json.toJson(TutorialUpdate.initial(request.player)).toString());
    var wsUrl = "@wsUrl";
    mountWebSocket(wsUrl, Elm.Tut.Main, "serverUpdate", "playerOutput", initialInput);
    </script>

}
