@(wsUrl: String)(implicit request: IdentifiedRequest[_], lang: Lang)

@import play.api.libs.json.Json
@import models.JsonFormats.tutorialUpdateFormat

<!DOCTYPE html>

<html>
  <head>
    <title>Tacks</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body class="play-race">

    <script src="@routes.Assets.at("javascripts/tut.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/mountWebSocket.js")" type="text/javascript"></script>

    <script type="text/javascript">
    var initialInput = @Html(Json.toJson(TutorialUpdate.initial(request.player)).toString());
    var wsUrl = "@wsUrl";
    mountWebSocket(wsUrl, Elm.Tut.Main, "serverUpdate", "playerOutput", initialInput);
    </script>

    @ga()

  </body>
</html>
